html,body{ overflow-x:hidden;}
body	{font:400 13px/22px Open Sans, Arial, Helvetica, sans-serif; color:#444; text-align:justify;}
body.popup	{padding:50px;}
a		{color:#90300a;cursor:pointer;}
a:hover	{color:#f47807; text-decoration:none;}

h1							{font-size:48px; font-weight:300; color:#4a1d0a; letter-spacing:-2px;}
h3							{font-size:32px; margin-bottom:20px}
/*
h3,h4						{font-size:36px; font-weight:300; letter-spacing:-2px; color:#000}
*/
h3,h4						{font-size:32px; font-weight:400; letter-spacing:-2px; color:#000}
/* Header */
header				{border-top:3px solid #f47807;}
header				{border-top:3px solid #f47807;}
.hdr-top			{padding:5px 0px; text-align:right; font-size:13px; color:#666}
.hdr-top a			{font-weight:900;}

.link				{background:url(../images/arrow-brown-small.png) no-repeat center right; padding-right:20px;}
.link-small			{background:url(../images/arrow-orange.png) no-repeat 3px 3px; padding-left:20px;}
.hdr				{background:#fef7e4; border-top:1px solid #ebe7d9; padding-bottom:10px;}


ul.show-cities				{overflow:hidden; list-style-type:none;}
ul.show-cities li			{background: url("../images/arrow-check.png") no-repeat scroll 5px 7px rgba(0, 0, 0, 0); width:45%; float:left; margin:10px 1.5%; padding-bottom:10px; padding-left:27px;}

/* Main */
.slider						{background:url(../images/bg-slider.jpg) repeat bottom center;}

.hmpg-slider				{overflow:hidden;}

.carousel-control.left,
.carousel-control.right		{-webkit-transition:all 0.10s ease-out; -moz-transition:all 0.10s ease-out; -o-transition:all 0.10s ease-out; transition:all 0.10s ease-out;}

.carousel-control.left		{background:url(../images/arrow-slider-left.png) no-repeat left center; filter:none; left:-9999px;}
.carousel-control.right		{background:url(../images/arrow-slider-right.png) no-repeat right center; filter:none; right:-9999px;}

.carousel.slide:hover .left.carousel-control	{left:0px;}
.carousel.slide:hover .right.carousel-control	{right:0px;}

#carousel-quote .left		{background:url(../images/arrow-quote-left.png) no-repeat left center; left:-15px;}
#carousel-quote .right		{background:url(../images/arrow-quote-right.png) no-repeat right center; right:-15px;}

.carousel-quote .carousel-inner	{ height:250px;}

.carousel-control			{opacity:1;}

.intro-row					{background:url(../images/pattern.gif) repeat; text-align:center; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #d5d5d5}
.intro-row label			{background:url(../images/pattern.gif) repeat; display:inline; padding:0px 20px; cursor:auto; font-weight:300; line-height: 65px;}
.intro-row h1				{background:url(../images/line.gif) repeat-x center;}

.steps-row .container			{background:url("../images/arrow-steps.png") no-repeat scroll 80px 0 rgba(0, 0, 0, 0); margin-top:50px; padding-top:24px;}
.steps-row .col-xs-8 span		{font-size:16px; color:#999; font-weight:900; color:#ccc; display: inline;}
.steps-row .col-xs-8 strong	{color:#f47807; font-weight:600; font-size:16px; display: inline;}

.steps-row .col-xs-8 .h22 {color:#f47807; font-weight:600; font-size:16px; display: inline; word-spacing:-1px;}
.steps-row .col-xs-8 .h23 {font-size:13px; display: inline; word-spacing:-1px;}

.steps-row .txt-center			{padding:30px 0px;}

.bgcolored-row				{background:#fef9ec url(../images/shadow-transparent20pc.png) repeat-x top; border-bottom:1px solid #f1ecdf; margin-bottom:0px; padding:20px 0px;}
ul.list-checked				{list-style:none; padding:0; margin:0; margin-bottom:20px}
ul.list-checked li			{background: url("../images/arrow-check.png") no-repeat scroll 5px 7px rgba(0, 0, 0, 0); font-size:14px; margin-bottom:10px; padding-left:27px;}

ul.list-checked li h2		{font-size:16px; display: inline;}

.col-xs-4 ul.list-checked li h2		{font-size:14px; display: inline;}

ul.list-checked li h1		{font-size:14px; display: inline; color: #444; text-align: justify; letter-spacing: 0.5px; font-weight: 500;}

ul.list-checked2			{list-style:none; padding:0; margin:0; margin-bottom:20px}
ul.list-checked2 li			{background: url("../images/arrow-check2.png") no-repeat scroll 5px 7px rgba(0, 0, 0, 0); font-size:13px; margin-bottom:10px; padding-left:22px;}

ul.list-questions			{list-style:none; padding:0; margin:0; margin-bottom:20px}
ul.list-questions li		{background: url("../images/question.png") no-repeat scroll 5px 7px rgba(0, 0, 0, 0); font-size:16px; margin-bottom:10px; padding-left:27px;}

ul.gdln-defination			{list-style-type:none;  padding:0; margin:0; margin-bottom:20px; padding-top:10px; border-top:1px solid #eee;}
ul.gdln-defination li		{overflow:hidden; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #eee;}
ul.gdln-defination li label	{width:18%; float:left; padding-right:2%; color:#000; text-align:right}
ul.gdln-defination li div	{width:78%; float:left; padding-bottom:0; margin-bottom:0;}
ul.gdln-defination li div div		{width:100%;}
ul.gdln-defination li div div span	{width:25px;}
ul.gdln-defination li div div label	{width:95%; text-align:left}

.dash					{background: url("../images/dash.png") no-repeat scroll 0px 7px rgba(0, 0, 0, 0); padding-left:20px;}

.carousel-quote				{border:1px solid #c9bbb6; margin-top:30px; padding-top:30px; position:relative;}
.quote-sign					{position:absolute; top:-15px; left:45%;}
blockquote					{border:0px; text-align:center; font-size:19px; font-family:Alegreya, Georgia, "Times New Roman", Times, serif; line-height:26px;}
blockquote span				{color:#f47807;}

#carousel-quote .carousel-indicators{display:none;}
.carousel-indicators li				{background:#fff;}
.carousel-indicators li.active		{background:#f47807;}

.contact-row				{background:url(../images/bg-contact-details.png) repeat-x bottom center; margin-top:20px;}
.contact-row .col1			{color:#ed8336; font-size:18px; font-weight:600; text-align:right; letter-spacing:-1px; line-height:26px; padding-top:110px; padding-right: 0px !important;}
.contact-row .col2			{text-align:left; letter-spacing:-1px; line-height:22px; padding-top:100px;}
.contact-row .col2 strong	{background:url(../images/icon-phone.png) no-repeat left center; padding-left:20px; font-size:19px; color:#c78e77}
.contact-row .col2 span		{color:#CCC; font-size:19px; font-weight:600; letter-spacing:0px;}
.contact-row .col3			{background:url("../images/footer-contact.png") no-repeat scroll 50px 80px; height:210px; position:relative;}
.contact-row .col3 a.first	{height:20px; left:200px; position:absolute; text-indent:-9999px; top:96px; width:180px;}
/* if single delete this */
.contact-row .col3 a.second	{height:16px; left:200px; position:absolute; text-indent:-9999px; top:166px; width:190px;}

/*
.contact-row .col3			{color:#CCC; padding:0px; padding-top:100px;}
.contact-row .col3 p		{background:url(../images/icon-mail.png) no-repeat 0px 4px; color:#C78E77}
.contact-row .col3 a		{color:#fff;}
*/
.contact-row .col3 p,
.contact-row ul.two-col li span	{ text-align:right}

ul.two-col					{list-style-type:none; padding:0; margin:0}
ul.two-col li				{overflow:hidden; margin-bottom:5px;}
ul.two-col li span,
ul.two-col li strong		{width:42%; float:left;}
ul.two-col li .txt-left		{text-align:left !important; width:58% !important;}

.pg-title					{background:#492214; padding:10px 0; color:#fff; margin-bottom:30px;}
.pg-title h3				{color:#fff}
.pg-title h1				{color:#fff}
.pg-title .slogan			{text-align:right; padding-top:20px;}

h4.title-online				{background:url(../images/icon-online.png) no-repeat top left; padding-left:75px; line-height:15px; margin-bottom:30px; clear:both; height: 56px;}
h2.title-online				{line-height:10px; margin-bottom:0px; clear:both}

.link-strong				{clear:both;}
h4.title-offline			{background:url(../images/icon-offline.png) no-repeat top left; padding-left:75px; line-height:20px; margin-bottom:30px;}
h4.title-online strong,
h4.title-offline strong		{font-size:14px; letter-spacing:0; color:#3e2c2b; line-height:0px;}

.reg-benefits 				{margin-top:30px; padding-top:30px; padding-right:30px; background: url(../images/hr-shadow-400-60.png) no-repeat top center;}
.reg-benefits ul li			{font-size:14px;}

.reg-login					{background:url(../images/vr-shadow.png) no-repeat right top; }

ul.nav-tabs					{float:none;}
ul.nav-tabs li strong		{color:#363b4d;}
ul.nav-tabs li span			{color:#666}
ul.nav-tabs li a			{border-right:0px;}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a	{border-top:3px solid #f47807;}
.tab-content				{border:1px solid #DDD; border-top:0px; padding:20px;}
label						{font-weight:400;}

.input-group-addon			{background-color:transparent; border:0; vertical-align:bottom; padding:0px 5px;}

.status-bar					{overflow:hidden;}
.sb-hdg						{float:left; background:#fff}
.sb-hdg label				{color:#999; font-weight:300; font-size:22px; letter-spacing:-1px; line-height:40px;}
.sb-hdg .number1, .sb-hdg .number2,
.sb-hdg .number3, .sb-hdg .number4			{display:block; float:left; width:45px; height:45px; background:url(../images/status-no1.png) no-repeat bottom left; text-indent:-9999px; margin-right:5px;}
.sb-hdg .number2			{background-image:url(../images/status-no2.png);}
.sb-hdg .number3			{background-image:url(../images/status-no3.png);}
.sb-hdg .number4			{background-image:url(../images/status-no4.png);}
.sb-hdg.active .number1, 
.sb-hdg.active .number2,
.sb-hdg.active .number3,
.sb-hdg.active .number4		{background-position:left top;}


.abt-hdg					{font-size:19px; color:#542918; letter-spacing:-1px;}
.about-txt					{margin-top:20px;}
ul.list-bullets				{padding-left:16px;}
ul.list50pc					{padding:0px; margin:0px; list-style-type:none; overflow:hidden; margin-bottom:20px;}
ul.list50pc li				{border:1px solid #eee; float:left; width:46%; margin:1%; font-size:12px; height:55px; padding:5px 1%;}
.about-txt-shadow			{background:url(../images/vr-shadow.png) no-repeat left top; padding-left:20px;}

.panel-body p 				{overflow:hidden;}
.panel-body p span			{float:left; display:block; width:22px; text-align:left}
.panel-body p label			{float:left; width:90%;}

.sb-hdg.active label		{color:#542918;}

.sb-dots					{float:left; position:relative; padding-top:17px;}
.sb-dots span				{width:16px; height:16px; display:block; float:left; margin-left:8px; background:url(../images/marker.png) no-repeat top left;}
.sb-dots span.done			{background-position:0px -32px}

.status-bar .col-xs-5, 
.status-bar .col-xs-3,
.status-bar .col-xs-4		{background:url(../images/dotted-line.png) repeat-x center}

.dashbaord-tabs 			{padding:20px 0px;}
.dashbaord-tabs a			{display:block; position:relative; line-height:15px; border:1px solid #ccc; border:2px solid #ccc; display:block; float:left; padding:5px 9px 7px 10px; margin:10px 8px 0px 0px; letter-spacing:-1px;
							color:#571f08;}
.dashbaord-tabs a:hover		{color:#b75915;}
.dashbaord-tabs a.mandatory	{border-color:#f47807;}
.dashbaord-tabs a.mandatory-completed	{border-color:#5CB85C;}
.dashbaord-tabs .active span{width:11px; height:6px; position:absolute; bottom:-2px; left:48%}
.dashbaord-tabs .active 	{color:#f47807; /*background:url(../images/arrow-select.gif) no-repeat bottom center;*/}

.dashbaord-tabs a			 {padding-top:12px; height:45px; width:156px; font-size:14px; text-align:center;}
.dashbaord-tabs a.double-word{padding-top:4px; height:45px; font-size:12px; line-height:16px;}
.dashbaord-tabs a.double-word1{padding-top:4px; height:45px; font-size:12px; line-height:15px;}

.agreement-row				{background:#DBD3D1; padding:50px 0px;}
.agreement-row .border-top,
.agreement-row .border-btm	{background:url(../images/board-border.png) no-repeat bottom center; height:18px; margin-bottom:0;}
.agrm-text					{padding:50px 70px; line-height:43px; position:relative; background:url(../images/board.png) repeat-y top center; text-align:center; font-family:Libre Baskerville, Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:18px; color:#4f2a1e; letter-spacing:-1px;}
.agrm-text .hdg				{font-size:26px;}
.agrm-text .sub-hdg			{font-size:22px; color:#ac2d06}
.agrm-text .sub-sub-hdg		{font-size:16px; color:#000}
.agrm-text select,
.agrm-text input			{border:0; background:none; color:#666}
.agrm-text select:focus,
.agrm-text input:focus		{color:#000}
.agrm-text .hdg input		{text-align:center}

.btn-default				{border:0px; background:none; font-size:18px; color:#999;}

.box						{display:none; border-bottom:1px solid #c8b384; background:url(../images/orange-transparent.png)}
		
.btn-save			{position:absolute; top:10px; right:90px; font-family:Open Sans, Arial, Helvetica, sans-serif; color:#333; font-style:normal; font-weight:900; text-transform:uppercase; font-size:14px; padding:5px 10px;}
.btn-save:hover, 
.btn-save:active,
.btn-save:focus		{background:#492214; border:1px solid #492214; color:#fff !important;}

.tab-btn			{background:url(../images/bg-tab.png) repeat-x bottom; overflow:hidden; margin-bottom:20px;}
.tab-btn a			{display:block; float:left; height:45px; padding:10px 20px; margin-right:10px; border:1px solid #b5a5a1;}
.tab-btn a:hover,
.tab-btn a.active	{border-bottom:1px solid #DBD3D1; background:#DBD3D1; color:#000}
.tab-btn a.active	{font-weight:900;}

.panel-body:before, 
.panel-body:after 	{content:" "; display:table;}
*:before, *:after 	{box-sizing:border-box;}
.panel-body:after 	{clear:both;}
.panel-body:before, 
.panel-body:after 	{content: " "; display:table;}
*:before, *:after 	{box-sizing:border-box;}
.panel-body 		{padding:15px;}

.divider 			{display:block; height:15px; border-bottom:1px solid #eee; margin-bottom:8px;}
.divider-large		{display:block; height:25px; background:url(../images/bg-divider-large.gif) repeat-x center;}

.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857;color:#646464;background-color:#fff;background-image:none;border:1px solid #cbd5dd;border-radius:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}
.form-control::-moz-placeholder{color:#bbb;opacity:1}
.form-control:-ms-input-placeholder{color:#bbb}
.form-control::-webkit-input-placeholder{color:#bbb}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee;opacity:1}
textarea.form-control{height:auto}

.agreement-row h3 			{color:#000; border-bottom:1px solid #ccc; padding-bottom:8px; margin-bottom:8px; font-size:22px; font-weight:400; letter-spacing:0px;}

.agreement-row h4 			{background-color:#F6F6F6; border-color:#E9E9E9; color:#646464; border-bottom:1px solid #ccc; padding:10px 15px; margin-bottom:0px; font-size:19px; letter-spacing:0; overflow:hidden;}
.agreement-row h4 strong 	{font-weight:400; letter-spacing:-1px; float:left}
.agreement-row h4 span		{font-size:14px; float:right;}

.btn-row	{padding:5px;}
.btn-add		{color:#7DB831; font-weight:900; font-size:16px; line-height:35px; padding-left:5px;}
.btn-delete		{color:#E74C3C; font-weight:900; font-size:16px; line-height:35px; padding-left:5px;}

.btn-add-large		{background:#5CB85C; border:1px solid #4CAE4C; color:#FFF; text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);}
.btn-add-large-red	{background:#E04545; border:1px solid #CF2323; color:#FFF; text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);}

.last		{padding-right:0px;}

.note		{font-size:12px; color:#333}

.sub-panel	{background:#f6f0f0;}

.sub-panel-blue	{background:#f0f6f6;}
.sub-panel-blue2{background:#f1f7f7;}
.sub-panel-blue3{background:#f4fafa;}

.sub-panel-green	{background:#f3ecf3;}
.sub-panel-green2	{background:#f7f0f7;}
.sub-panel-green3	{background:#fbf4fb;}

.dashboard-accordion label	{display:block; color:#999}
.dashboard-accordion h4		{padding:0px 0px 0px 20px; border-bottom:0; background:url(../images/arrow-down.png) no-repeat 0px 8px;}

h4.panel-title				{letter-spacing:0;}

/* Form */
.form-group label			{font-weight:400;}
.frm-element1				{width:47.5%; float:left; margin-right:2.5%;}

.google-map 				{border:1px solid #cdcdc3; padding:3px;}
.google-map iframe			{width:100%;}
.contact-form				{background:url(../images/dotted-line-vr.png) repeat-y top right;}

/* Footer */
footer						{background:#f4efe2; padding-top:15px;}
footer h4					{font-size:18px; letter-spacing:-1px; font-weight:600}
footer .row					{padding:20px 0px;}
footer p					{color:#666;}
footer .col-xs-12 a			{padding:0px 5px;}
.icon-fb,
.icon-twr					{border:1px solid #a69f9d; padding:8px 8px 8px 32px; color:#666; background:url(../images/icon-fb.png) no-repeat 10px 5px; font-weight:900; letter-spacing:-1px;}
.icon-twr					{background:url(../images/icon-twr.png) no-repeat 10px 9px; padding-left:38px;}
.icon-fb:hover				{border:1px solid #f47807; background-position:10px -41px;}
.icon-twr:hover				{border:1px solid #f47807; background-position:10px -42px;}

footer .btm-row				{border-top:1px solid #ccc; padding:10px 0;}
.btm-row .row				{padding:0px 0px; font-size:12px}
.btm-row .row a				{color:#333;}
.btm-row .row a:hover		{color:#000;}

/* Common */
.txt-black					{color:#000;}
.txt-orange					{color:#f47807;}
.txt-light-grey				{color:#999;}

.link-strong				{font-weight:900; background:url(../images/arrow-brown-switch.png) no-repeat top right; padding-right:20px; border-bottom:2px solid #f47807; letter-spacing:-1px; font-size:16px}
.link-strong:hover			{background-position:bottom right}

.txt-center					{text-align:center;}
.txt-left					{text-align:left;}
.txt-right					{text-align:right;}
.txt-underline				{text-decoration:underline;}

.pdg10lr					{padding:0px 10px;}

.w10pc						{width:10%;}
.w20pc						{width:20%;}
.w30pc						{width:30%;}
.w40pc						{width:40%;}
.w50pc						{width:50%;}
.w60pc						{width:60%;}
.w70pc						{width:70%;}
.w80pc						{width:80%;}
.w90pc						{width:90%;}
.w100pc						{width:100%;}

.w50px						{width:50px;}
.w50px						{width:60px;}
.w70px						{width:70px;}
.w80px						{width:80px;}
.w90px						{width:90px;}
.w100px						{width:100px;}
.w110px						{width:110px;}
.w120px						{width:120px;}
.w130px						{width:130px;}
.w140px						{width:140px;}
.w150px						{width:150px;}
.w160px						{width:160px;}
.w170px						{width:170px;}
.w180px						{width:180px;}
.w190px						{width:190px;}
.w200px						{width:200px;}
.w210px						{width:210px;}
.w220px						{width:220px;}
.w230px						{width:230px;}
.w240px						{width:240px;}
.w250px						{width:250px;}
.w260px						{width:260px;}
.w270px						{width:270px;}
.w280px						{width:280px;}
.w290px						{width:290px;}
.w300px						{width:300px;}
.w310px						{width:310px;}

.mrg10T						{margin-top:10px;}
.mrg20T						{margin-top:20px;}

.txt12						{font-size:12px;}
.txt16						{font-size:16px; line-height:24px;}

.fnt2						{font-family:Alegreya,Georgia, "Times New Roman", Times, serif;}

.border-grey				{border-bottom:1px solid #ccc; margin-bottom:20px;}

.btn-submit,
.btn-fade					{font-weight:900; color:#fff; font-size:18px; padding:10px 25px; background:#492214; border:0px;}
.btn-fade					{background:#999}
.btn-submit:hover, .btn-submit:active,
.btn-submit:focus			{background:#f47807; color:#fff}

.clsotp {z-index:0 !important;}
.reg-date {padding-top:28px;}

.down								{cursor:pointer;}
.panel-heading h4.panel-title a		{display:block;}



/*header .col-xs-1, header .col-sm-1, header .col-md-1, header .col-lg-1, header .col-xs-2, header .col-sm-2, header .col-md-2, header .col-lg-2, 
header .col-xs-3, header .col-sm-3, header .col-md-3, header .col-lg-3, header .col-xs-4, header .col-sm-4, header .col-md-4, header .col-lg-4, 
header .col-xs-5, header .col-sm-5, header .col-md-5, header .col-lg-5, header .col-xs-6, header .col-sm-6, header .col-md-6, header .col-lg-6, 
header .col-xs-7, header .col-sm-7, header .col-md-7, header .col-lg-7, header .col-xs-8, header .col-sm-8, header .col-md-8, header .col-lg-8, 
header .col-xs-9, header .col-sm-9, header .col-md-9, header .col-lg-9, header .col-xs-10, header .col-sm-10, header .col-md-10, header .col-lg-10, 
header .col-xs-11, header .col-sm-11, header .col-md-11, header .col-lg-11, header .col-xs-12, header .col-sm-12, header .col-md-12, header .col-lg-12 {
padding-left: 0px;
padding-right: 10px;
}

.col-xs-7.hdr-nav	{padding-right: 0px;}

.collapse.navbar-collapse { position:absolute; width:100%;}*/

.mandatory_star,
.agreement-row	{font-size:12px}


.btn-dashboard				{background:#fff url(../images/bg-btn-dashboard.png) repeat-x  bottom; display:block; padding: 8px 25px; margin-bottom:20px;
							 border:1px solid #d2c9c7; border-radius:5px; box-shadow:0px 0px 5px #c9bab7; position:relative;}
.btn-dashboard span			{color:#90300a; font-size:18px; letter-spacing:-1px;}
.btn-dashboard label		{color:#666;}
.btn-dashboard img			{position:absolute; right:15px; top:13px}
.btn-dashboard:hover span	{color:#f47807;}

.btn-adjust		{padding:6px 20px; letter-spacing:-1px;}

.table-hdg,
.table-row				{border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px;}
.table-row span			{color:#999;}
.btn-plus-minus,
.btn-plus-minus.collapsed{background:url(../images/bg-plus-minus.gif) no-repeat top left; width:11px; height:11px; display:inline-block;}
.btn-plus-minus,
.btn-plus-minus:hover	{background-position:bottom left;}

.btn-normal				{font-size:15px; font-weight:900; padding:7px 15px;}
.btn-aprrove			{font-size:15px; font-weight:900; padding:7px 15px 7px 35px; background:#f47807 url(../images/bg-check-white.png) no-repeat 14px 13px;}
.btn-aprrove:hover		{background:#90300a url(../images/bg-check-white.png) no-repeat 14px 13px;}
.btn-disable,
.btn-disable:hover		{background:#b29f99; color:#fff; cursor:no-drop}

.modal-header			{background:#492214; padding:7px 15px 10px 15px}
.modal-header h4		{color:#fff;}
.modal-footer			{background:#FEF7E4 url(../images/logo-ezeewill-40.png) no-repeat 18px 0px; padding: 6px 5px;}
.modal-footer button	{color:#000;}
.modal-header button.close,
.modal-header button.close:hover, 
.modal-header button.close:focus	{color:#fff; opacity:1 !important;}
.modal-header .close	{margin-top:13px;}

.iagree	{font-size:14px; color: #3E2C2B;}

.input-rupee		{background:url(../images/rupee.png) no-repeat 10px 7px; padding-left:26px;}

/*
.faq-q,
.faq-title			{border:0px; padding:0px;}
.faq-q				{padding:10px 0px;}
*/
.panel-group		{margin-bottom:10px;}

.agreement-row .row .col-xs-12		{padding-left:0px; padding-right:0px}
.agreement-row .col-xs-12.tab-btn	{margin-left:15px; margin-right:0px; width:97%}
.agreement-row .col-xs-12.tab-btn	{margin-left:0px; margin-right:0px; width:100%}
.panel.panel-body .row .col-xs-12	{padding-left:15px; padding-right:15px;}

.agreement-row h3					{margin-left:-15px; margin-right:-15px;}
.agreement-row .col-xs-12 h3		{margin-left:0px; margin-right:0px;}
.abt-hdg							{margin-top:20px;}

option {color: #646464;}

.container .row .col-xs-12 h2 { display: inline; font:normal normal 400 13px/22px 'Open Sans', Arial, Helvetica, sans-serif; color:#444; font-size: 13px;}
.container .row .col-xs-12 h1 {letter-spacing:0px; margin-top:0px; margin-bottom:10px; color:#444; display: inline; font: normal normal 400 13px/22px 'Open Sans', Arial, Helvetica, sans-serif;}

.row .h21, .rowwrp .h21{font-size: 16px !important; line-height: 10px!important; display:inline!important;}
.row .h11,  .rowwrp .h11 {font: normal normal 400 13px/22px 'Open Sans', Arial, Helvetica, sans-serif !important; font-size: 16px!important; line-height: 10px!important; display: inline!important; color:#444!important; letter-spacing: normal!important;}
.guideline{float: right;margin-bottom: 10px;margin-right: -15px;}


.contact-info .get_char			{display:inline-block; padding:2px;}
.asoc-header					{background: #492214;}
.asoc-header h2					{font-size:14px; margin-top: 5px; color: #fff;}
.asoc-body .col-xs-3, .asoc-body .col-xs-7, .asoc-body .col-xs-2			{ height: 60px; padding-top:8px;}
.asoc-body .col-xs-2 { padding-left:7px !important; }
.hm-testimonial	.quote			{font-size:16px; padding:15px; border: 1px solid #ccc; text-align: center; font-family:Alegreya, Georgia, "Times New Roman", Times, serif; line-height:26px;  height: 225px; xword-break:break-all;}

.hm-testimonial	.quote2			{ min-height: 142px; xword-break:break-all;}

.hm-testimonial	.quote-sign		{background: #fff;}
.hm-testimonial	.ratingname		{text-align: center ;color: #666}
.hm-testimonial	.pg-rating		{ margin:10px auto; width: 80px;}

.pg-testimonial	.row			{border-bottom: 1px dotted #ccc;}
.pg-testimonial .quote			{font-size:16px; text-align:left; font-family:Alegreya, Georgia, "Times New Roman", Times, serif; line-height:26px; background:url(../images/mediaquote_white.png) no-repeat -8px 4px; padding-left:38px; xword-break:break-all;}
.pg-testimonial .pg-rating,
.pg-testimonial .ratingname		{padding-left:38px;}
.adj-height {
    font-size: 12px;
    line-height: 16px;}


/* RK */

.pricing 					{margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #eee;}
.pricing .col-xs-5			{padding-top:50px;}
.pricing .col-xs-5 img		{float:left; margin-right:15px;}
.pricing h4.title-online	{background:none; padding-left:0px; float:left;}
.pricing h2.title-online	{background:none; padding-left:0px; float:left; color: #000; font-weight: 400; font-size: 32px !important; letter-spacing: -2px;}
.onlineh2	{background:none; padding-left:0px; float:left; color: #000; font-weight: 400; font-size: 32px; letter-spacing: -2px;}
.pricing h4.title-online a	{line-height:none; float:left;}
.pricing h4 strong			{line-height:16px !important;}
.pricing .includes			{border-left:1px solid #eee; border-right:1px solid #eee;}
.pricing ul.list-checked li	{font-size:14px;}



.headersearch, .headerSocial, .headerLogin{float:right; margin:4px 15px 6px 0px;}

.mlogo{float:left; width:140px; margin-top:15px; margin-right:10px;}
.mlogo img{width:100%}
.logoProj{float:left;}
.nsdl{width:130px;margin-top: 9px;}
.warmond{width:84px;margin-top: -1px;}
.top_nav			{ text-align:right; padding:0px;padding-top:10px;}
.top_nav .btn-orange{background:#f47807; color:#fff; border:1px solid #c35f06; padding:4px 8px; margin-left:10px; margin-bottom:20px; float:right; clear:both; font-size:15px}
.top_nav .btn-orange:hover{background:#4b1e0c; border-color:#3a1506}
.navbar-toggle{background:#f47807;}
.navbar-toggle .icon-bar{ background:#fff;}
.navbar-collapse{ padding-left:0px;}

 ul.nav li a					{font-size:12px; letter-spacing:0px;  color:#000}
.navbar-nav > li > a	{padding:8px 8px;border-right:1px solid #e8e1d0;}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus	{background:#f47807; color:#fff}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{background:#f47807; color:#fff;    border-color: #fff;}
.navbar-nav {float: right;    margin: 0;}
.navbar-header{width:100%;}
.sponsorer{position:relative;}
.navbar-nav > li:last-child a{border-right:0px solid #e8e1d0; padding-right:0px;}
.dropdown-menu{ background:#fef7e4; border:none; min-width:100px; text-align:left; padding-left:0px;}
.dropdown-menu>li>a {padding: 3px 9px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active{ background:#f47807; color:#fff;}
.pg-title.mrb0{margin-bottom:0px;}
.simplestep{width:100%; clear:both; float:left;text-align:center; margin:30px 0px 0px}

.btnwrp{width:100%; clear:both; display:inline-block; text-align:center; margin:40px 0px 10px; background:url(../images/PageDevider.png) no-repeat center bottom; padding:0px 0px 60px !important; }
.btnlink				{font-weight:600; background:url(../images/btnbg.jpg) no-repeat top right;    padding: 7px 50px 7px 22px; border-bottom:0px solid #f47807;  font-size:16px; color:#fff;}
.btnlink:hover			{ color:#fff;}
.txt-light-grey{ color:#4b0f05; font-size:20px;}
.pwtabs{width:100%; clear:both;  margin:0; padding:0px;}
.pwtabs li{width:32.6%; cursor:pointer; float:left; margin-right:10px; list-style:none; background:#d8d7da; color:#000;opacity:.8;  text-align:center;    border: 0px solid red;  border-top-right-radius:8px;-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;border-top-left-radius:8px;-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;}
.pwtabs li.active{ background:#fe964f; color:#fff;opacity:.8;}
.pwtabs li > h2{ margin:0 auto; display:inline-block; padding:20px 0px 20px 50px; font-size:24px;  font-weight:500;}
.pwtabs li > h2.phone{background: url(../images/icon-phone2.png) no-repeat 0px 15px;}
.pwtabs li > h2.client{background: url(../images/icon-client.png) no-repeat 0px 15px; padding-top: 6px; padding-bottom: 8px; background-position-x: 31px;}
.pwtabs li > h2.doorstep{background: url(../images/icon-doorstep.png) no-repeat 0px 15px;}
.pwtabs li:last-child{margin-right:0px;}
.plwtabswrp{display:none;width:100%; clear:both;  margin:0; padding:0px; margin:30px 0px 0px;}
.intro-wrp{background:url(../images/pattern.gif) repeat; text-align:center; padding-bottom:20px; margin-bottom:0px; border-bottom:0px solid #d5d5d5}
.intro-wrp label			{background:url(../images/pattern.gif) repeat; display:inline; padding:0px 20px; cursor:auto; font-weight:300; line-height: 65px;}
.steps-wrp .col-xs-8{padding:0px 0px 0px 30px;}
.steps-wrp .col-xs-8 strong {color: #f47807; font-weight: 600;  font-size: 16px; min-height:60px;display: inline-block;}
.steps-wrp .col-xs-8 span{font-size: 16px; position:absolute; left:-18px; top:0px;font-weight: 900; }
.intro-wrp h1				{background:url(../images/line.gif) repeat-x center;}
.introtb-wrp{background:url(../images/pattern.gif) repeat; text-align:center; padding-bottom:0px; margin-bottom:0px; border-bottom:4px solid #fdad77;}
.steps-wrp{width:100%; clear:both;  margin:0; padding:0px;}
.steps-wrp .container {background: url("../images/arrow-steps.png") no-repeat 80px 0; margin-top: 40px; display:inline-block;   padding-top: 40px;}
p{ font-size:14px;}
.steps-wrp p{ font-size:14px; position:relative;}
p.btnwrp{text-align:center;}
.overflowForm{position:fixed; left:0%; top:0px; z-index:20; background:#000; opacity:.8; width:100%; height:100%;}
.enqueryForm{position:absolute; left:0%; top:10%; z-index:21; width:600px; background:#FFF; padding:20px; border-radius:8px; opacity:1 !important;}
.enqueryForm .abt-hdg {font-size: 24px; color: #f47807; letter-spacing: -1px; }
.enqueryForm .abt-hdg strong{font-weight:500 !important;}
.enqueryForm  .btn-submit{background: #f47807; color: #fff; margin-top:10px; margin-right:10px; text-transform:uppercase; font-weight:600;}
.enqueryForm div{position:relative;}
.enqueryForm .close2{position:absolute; right:-30px; top:-50px; z-index:1; border:none; outline:none; }
.residentnon{ padding-top:10px; font-size:15px;}

.rowbox{margin:0px 0px; padding:20px 0px 10px; width:100%;}
.boxwrp{width:100%;float:left;  margin-bottom:20px;padding:0px 0px 10px; border:1px solid #f76f11; -moz-border-radius: 10px; -webkit-border-radius: 10px;  -khtml-border-radius: 10px; border-radius: 10px;}

.boxpdng{padding:0px 6px;}
.boxheaderTitle{width:100%;padding:20px 0px 20px; position:relative; float:left; text-align:center; background:#f76f11; border-top-right-radius:10px;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-top-left-radius:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;}	
.boxheaderTitle img{ position:absolute; right:-13px; top:-22px;}
.boxheaderTitle h2{font-size:16px !important; color:#000 !important;  font-weight:600  !important; margin:0 auto; display:inline-block; padding:18px 0px 20px 44px;}
.boxheaderTitle h2.online{background: url(../images/icon-onlineh.png) no-repeat 0px 15px;}
.boxheaderTitle h2.personalised{background: url(../images/icon-personalised.png) no-repeat 0px 15px;}
.boxheaderTitle h2.trust{background: url(../images/icon-trust.png) no-repeat 0px 15px;}
.boxheaderTitle h2.executorship{background: url(../images/icon-executorship.png) no-repeat 0px 15px;}
.boxheader{width:100%;float:left;background: url(../images/middotborder.jpg) repeat-x 0px 0px; height:8px; position:relative; }
.lefttopcorner{position:absolute; left:0px; top:0px;background: url(../images/leftcorner.jpg) no-repeat; width:6px; height:8px;}
.righttopcorner{position:absolute; right:0px; top:0px;background: url(../images/rightcorner.jpg) no-repeat; width:6px; height:8px;}
.innerboxwrp{padding:10px 20px 0px;float:left; min-height:160px;}
.innerboxwrp .list-checked2, .innerboxwrp .list-checked2 li{margin-bottom:0px;}
.boxfooter{width:100%;float:left; padding:20px 0px 0px; text-align:center;}
.btnenqr{padding:0px 0px 0px; margin-top:-40px;}
.boxfooter a{background:#f47807 url(../images/btn-arrow.png) no-repeat 96% 8px; padding:2px 4px; font-size:13px; text-align:left; color:#fff; text-decoration:none; width:44%; margin-right:5px; display:inline-block;border:1px solid #b25312; -moz-border-radius: 4px; -webkit-border-radius: 4px;  -khtml-border-radius: 4px; border-radius: 4px; }
.boxfooter a:last-child{margin-right:0px;}
.boxfooter a.snlbtn{width:200px; background:#f47807 url(../images/btn-arrow2.png) no-repeat 92% 8px; padding:6px 12px; font-size:16px; text-align:left; color:#fff; text-decoration:none;  margin-right:5px; display:inline-block;border:1px solid #b25312; -moz-border-radius: 4px; -webkit-border-radius: 4px;  -khtml-border-radius: 4px; border-radius: 4px; }
.boxfooter a.snlbtn:last-child{margin-right:0px;}
.boxfooter  .btnlink				{font-weight:600; background:url(../images/btnbg.jpg) no-repeat 0px 0px;    padding: 7px 0px 7px 12px; width:166px; border-radius:0px; border-bottom:0px solid #f47807;  font-size:16px; color:#fff;}
.boxfooter  .btnlink:hover			{ color:#fff;}

.listtitle{ margin:0px; padding:0px; padding:0px 0px 50px 30px;}
.listtitle > li{ list-style:none; width:100%;  padding:5px 0px 20px 0px;}
.listtitle > li > h2{ background: url(../images/arrowlist.png) no-repeat left 5px; padding-left:30px;font-size:24px !important; color:#000 !important;  font-weight:600  !important;}
.listtitle ul{padding-left:30px;}
.tabs2{width:100%; float: left; clear:both;  margin:0; padding:0px; border-bottom:3px solid #f76f11;}
.tabs2 li{width:33%; cursor:pointer; float:left; margin-right:4px; list-style:none; background:#e4e7ee; color:#000;opacity:1;  text-align:center;    border: 0px solid red;  border-top-right-radius:8px;-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;border-top-left-radius:8px;-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;}
.tabs2 li:last-child{margin-right:0px; margin-left:1px;}
.tabs2 li h2{ padding-left:0px;}
.tabs2 li.active{ background:#f76f11; color:#fff;opacity:1;}
.borderactive{ border:1px solid #f76f11;}
.padngtabs p{ padding:10px 20px;}
.pricing .boxheaderTitle h2{color:#fff !important;}
.pricing .boxheaderTitle h2.online{background: url(../images/icon-online-wt.png) no-repeat 0px 15px;}
.pricing .boxheaderTitle h2.personalised{background: url(../images/icon-phone-wt.png) no-repeat 0px 15px;}
.pricing .boxheaderTitle h2.trust{background: url(../images/icon-client-wt.png) no-repeat 0px 15px;}
.pricing .boxheaderTitle h2.executorship{background: url(../images/icon-doorstep-wt.png) no-repeat 0px 15px;}
.pricing .boxheaderTitle h2 .title{position: relative; padding-top: 0px; margin-top: -20px; display: inline-block; width: 60%; top: 10px;}
.pricing .innerboxwrp h3{float:left; letter-spacing:normal; margin:20px 0px 11px; padding:0px;font-size:20px; color:#000;  font-weight:600; width:100%; text-align:center; clear:both;}
.pricing .innerboxwrp{padding: 10px 10px 0px;}
.pricing .innerboxwrp h4{float:left; margin:0; line-height:22px; padding:0px;font-size:16px; color:#000; letter-spacing:normal;  width:100%; text-align:center; clear:both;}
.curclewrp{ width:100%;float:left; margin-bottom:20px; background:#f76f11; padding:15px 0px; -moz-border-radius: 100%; -webkit-border-radius: 50%;  -khtml-border-radius: 50%; border-radius: 50%;}
.curclewrp .rupee{width:100%; padding:20px 0px 30px; float:left; text-align:center;}
.curclewrp .pricewrp{width:100%; padding:0px 0px; float:left; text-align:center;font-size:48px; color:#fff;  font-weight:600;}
.curclewrp .will{width:100%; padding:30px 0px 20px; float:left; text-align:center;font-size:22px; color:#000;  font-weight:bold;}
.pricing .boxfooter a{ width:86%;padding: 6px 10px;background: #f47807 url(../images/btn-arrow2.png) no-repeat 96% 8px; font-size:16px; margin-top:20px;}

.listinclude{ margin:0px; padding:0px; padding:0px 0px 50px 6px; width:98%;}
.listinclude > li{ list-style:none; width:100%;  padding:0px;}
.listinclude > li > h2{width:100%; clear:both;  padding-left:0px;font-size:22px !important; color:#000 !important;  font-weight:600 !important; text-align:left !important; float:left; margin-bottom:15px;}
.listinclude ul{float:left;}
.displayn{ display:none;}
.pdnlf0{padding-left:0px;}
.pdnrf0{padding-right:0px;}
.slogentext{font-size:18px !important; line-height:26px !important;}


@media screen and (max-width:1020px){
	.pwtabs li{width:32%;}
	.pwtabs li > h2{font-size: 18px;}
	.steps-wrp .container{background:none;}
	.innerboxwrp{padding:10px 20px 0px;float:left; min-height:130px;}
	.boxheaderTitle img{ position:absolute; right:-5px; top:-10px;}
}

@media screen and (max-width:767px){
	.steps-wrp .container{background:none;}
	.pwtabs li{width:31%;}
	.pwtabs li > h2 span{display:block;}
	.pwtabs li > h2{background-position:center 10px !important; padding: 50px 0px 10px 0px; text-align:center; width:100%;font-size: 14px;}
	.innerboxwrp{padding:10px 20px 0px;float:left; min-height:100px;}
	.enqueryForm{position:absolute; }
}
@media screen and (max-width:480px){
	.pwtabs li > h2 span{display:none;}
	.pwtabs li > h2{background-position:center 10px !important; padding: 50px 0px 10px 0px; text-align:center; width:100%;font-size: 12px;}
	.tabs2 li > h2 span{display:block;}
	.tabs2 li > h2{background-position:center 10px !important; padding: 15px 0px 15px 0px; text-align:center; width:100%;font-size: 14px;}
}
@media screen and (max-width:380px){
	.tabs2 li{min-height: 52px;}
	.tabs2 li:first-child{padding-top:10px;}
	.tabs2 li > h2{background-position:center 10px !important; padding: 10px 0px 10px 0px; text-align:center; width:100%;font-size: 14px;}
}


.contact-row {
    background: url(../images/bg-contact-details.png) repeat-x bottom center;
    margin-top: 100px;
}
.help, .womenCont, .CallUs, .EmailD{float:left; position:relative;}
.womenCont{margin:0px 50px; margin-top:-50px; }
.help{width:120px;color: #ed8336;font-size: 18px;font-weight: 600;text-align: right;letter-spacing: -1px;line-height: 26px;padding-top: 60px;padding-right: 0px !important;}
.CallUs{text-align: left;letter-spacing: -1px;line-height: 22px;padding-top: 70px;}
.CallUs strong {background: url(../images/icon-phone.png) no-repeat left center;  padding-left: 20px; font-size: 19px; color: #c78e77;}
.CallUs span {color: #CCC;font-size: 19px; font-weight: 600;  letter-spacing: 0px;}
.EmailD{ float:right; margin-top:20px;}



.QuickLinks{ margin:10px 0px;}
.connectUs{ text-align:right; margin:10px 0px;}
.connectUs strong{float:left;}
.connectUs a{float:left;}

.shareBtn{ text-align:right; margin:10px 0px;}
.top_nav .btn-login{display: none;}


/* Style Sheet for site search starts here */
.webResult{ margin-bottom:20px; }

.webResult .titlediv { 
	background-color:#fef7e4; 
	width:100%; 
	font-size:18px;
	font-weight:normal;
	padding:8px 20px;
}
.webResult h2 b{ color:red; }
.webResult h2 a{ color:#000;border:none;}
.webResult p{ line-height:1.5;padding:15px 20px 0px 20px;}
.webResult p b{ color:red;}
.webResult > a{ margin-left:20px;}


/* Image & video search results */


.imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* The show more button */

#more{
	width:83px;
	height:24px;
	cursor:pointer;
	margin:20px auto;
	color:blue;
	float:right;
}

#more:hover{
	background-position:left bottom;
}

#prev{
	width:83px;
	height:24px;
	cursor:pointer;
	margin:20px auto;
	color:blue;
	float:right;
}

#prev:hover{
	background-position:left bottom;
}

#topmore{
	width:83px;
	height:24px;
	cursor:pointer;
	margin:10px auto;
	color:blue;
	float:right;
}

#topmore:hover{
	background-position:left bottom;
}

#topprev{
	width:83px;
	height:24px;
	cursor:pointer;
	margin:10px auto;
	color:blue;
	float:right;
}

#topprev:hover{
	background-position:left bottom;
}

/* Giving Credit */
p.credit{
	margin:20px 0;
	text-align:center;
}

p.credit a{
	background-color:#4B5A64;
	border:1px solid;
	border-color:#3D4D57 #788E9B #788E9B #3D4D57;
	color:#c0d0d8;
	font-size:10px;
	padding:4px 8px;
	text-shadow:1px 1px 0 #38464F;
}

p.credit a:hover{
	background-color:#38464f;
	border-color:#38464f #788E9B #788E9B #38464f;
}

.webResult a, .webResult a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#1122cc !important;
}

.webResult a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}

.btn-orange-right { float:right !important; }

/* Style Sheet for site search ends here */

/* Style Sheet for style_extra starts here */
.w350px						{width:350px;}
.w400px						{width:400px;}
.w420px						{width:420px;}
.w450px						{width:450px;}
.w1000px					{width:1000px;}

.error{ 
	color: red;
 }

.success{ 
	color: green;
	font-weight: bold;
 }

.input_error_border{border:1px solid #FF0000 !important;}

#register .short{
	color:#FF0000;
}

#register .weak{
	color:#E66C2C;
}

#register .good{
	color:#2D98F3;
}

#register .strong{
	color:#006400;
}

.mandatory_star{
	color: red;
}

.btn-submit-disabled { color:gray !important; }

.plus_sign{
text-align: right;
font-size: 16px;
margin: 3px 15px ;
}

.col-xs-plus{
float: left;
	width: 2.33333%;
	min-height: 1px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	-webkit-box-sizing: border-box;
}

.bottom_buttons { width:100%; }
.div_prev_button { width:20%; float:left; }
.div_center_buttons { float:left; width:60%; text-align:center; }
.div_next_button { float:right; width:20%; }


.bottom_buttons input,
.div_prev_button input,
.div_center_buttons input,
.div_next_button input,
.finalize-me {width:165px; }


.div_prev_button. .btn-previous{
	
}
.agreement-row h3{
	overflow: hidden;
}
.agreement-row h3 a{
	font-size: 12px;
}
.agreement-row h3 span{
	float:right;
}
.qpromo { font-size: 20px !important; }


.dashbaord-tabs_extra a.double-word {
	font-size: 13px;
	height: 45px;
	padding-top: 4px;
}
.dashbaord-tabs_extra a:hover {
	color: #B75915;
}
.dashbaord-tabs_extra a {
	font-size: 14px;
	height: 45px;
	padding-top: 12px;
	text-align: center;
	width: 155px;
}
.dashbaord-tabs_extra a {
border: solid #CCC;
border-top: 2px solid #CCC;
color: #571F08;
display: block;
float: left;
letter-spacing: -1px;
line-height: 16px;
margin: 10px 11px 0px 0px;
padding: 5px 12px 7px;
position: relative;
}

.add_width{
	width:158px !important;
	text-align: center !important;
}


.remove_padding{

	margin-right: 0px !important;
}


.letter_spacing{
	letter-spacing: 0px !important;
}

.add_width1{
	width:161px !important;
	text-align: center !important;
}

.jah_account_numbering, .ben_account_numbering { width:50%;float:left; }

.btn-submit-disabled{
	width:150px !important;
}

.payment-agreement { padding:0px !important;}

.blue-italic-cities{ font-style: italic; font-weight: bold; font-size: 11px; color: blue; text-decoration: underline;}

.payment_title{ padding-left: 16px; }

.success_no_delay{ 
	color: green;
	font-size: 16px;
 }

.review-aggreement-row{ padding-top:0px !important; }

.error_ben { color: #A94442; }

.absolute-history-header {
    margin-left: auto;
	margin-right: auto;
	width: 998px;
	padding-right: 20px;
}

.absolute-history-header h3{
    border-bottom: none !important;
}

.fixwrapper{
	height: 60px;
}
.fixed-area {
	overflow: hidden;
	position: fixed;
	top: 160px;
	width: 100% !important;
	z-index: 90;
	background: #DBD3D1;
	vertical-align: baseline;
}

.fixed-area * {
	position: static !important;
}

.fixed-area > .absolute-history-header {
	overflow: hidden;
	width: 1000px;
	margin: auto 0px;
}

/* jquery dialog box */
#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#FFF;}

/* Container */
#simplemodal-container {height:180px; width:600px; color:green; background-color:#FFF; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:green; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:blue;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

.alignleft{ text-align: left; }

.tbl_mkr_ckr th { text-align: center !important; padding-bottom:15px !important; vertical-align: middle !important; }
.a_viewdetails { color:red;}
.lawyersuccess { font-size: 14px; }

.sortby{ color: #444;}
.clsasc { background: url(../images/sort_ascending.gif); background-position: left; background-repeat: no-repeat; padding-left:15px;}
.clsdesc { background: url(../images/sort_descending.gif); background-position: left; background-repeat: no-repeat; padding-left:15px;}

.pagination { text-align: right; width: 100%; float: right;}
.pagination ul { float: right;}
.pagination ul li { list-style: none; float: left;}
.pagination ul li a, .pagination ul li span{
	background: white;
	color: black;
	display: block;
	float: left;
	margin-right: 0.1em;
	padding: 0.3em 0.5em;
	text-decoration: none;
}

.pagination ul li span {
	background-color: #666;
	color: white;
}

.t_comments { color: #7A251A;}

.l_comments { color: #A1188E;}

.hdr-top .btn-orange {float:left;}

.hdr-top .btn-orange		{background:#f47807; color:#fff; border:1px solid #c35f06; padding:1px 7px 1px 10px; margin-top:0px; margin-left:10px; font-size:15px; font-weight: normal !important;}
.hdr-top .btn-orange:hover	{background:#4b1e0c; border-color:#3a1506}

.dashboardlinks { text-align: center; font-size: 15px; padding:8px;}

.mandatory_label{ color: red; }

.login-link{ text-align:left; float: right; width: 170px;}
.login-only-link{ float:right; text-align:right;}
.header-link{ float: right;}

.forgotuid { font-weight:bold; font-size:15px; }
.cookies_h4 {background-color:#fef7e4; padding:5px 8px; background:url(../images/pattern.gif) repeat; color:#90300a;}

.testimonial-pg { background-color:#FEF7E4; padding-top: 1px; }

.testimonial-pg	p {
	background: url("../images/mediaquote.png") no-repeat 0px 1px;
	padding-left: 42px;
	margin-top: 10px;
	min-height: 26px;
	margin-bottom: 0px;
	padding-top: 4px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333;
}

.testimonial-pg .ndetails {
	font-size: 14px;
	color: #f47807;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 0px;
	clear:both;
	padding-left: 43px;
}

.testimonial-pg a {
	text-decoration: underline;
}

.testimonial-pg .evendiv {

	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 1px;
}

.testimonial-pg .evendiv p{ background: url("../images/mediaquote_white.png") no-repeat 0px 1px; }


.video-pg { background-color: #FEF7E4; overflow:auto; }
.video-pg div {
	width:48%;
	float:left;
	text-align: center;
	margin-bottom: 30px;
}

.video-pg div p{
	font-size: 14px;
	color:brown;
	margin-left: 110px;
	font-weight: normal;
	width:200px;
	text-align: justify;
}
.video-pg div span{
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	text-align: left;
	float:left;
	font-size: 12px;
	color:brown;
	padding-left: 17px;
}

.media_pagination a, .media_pagination a:visited{
	float:left;
	width:20px;
	padding: 5px;
	font-size: 18px;
}

.media_pagination a.selected, .media_pagination a.selected:visited{
	font-color: brown !important;
	font-weight: bold;
}

.media_pagination{
	background-color: #FEF7E4;
	padding:10px 5px;
	overflow: auto;
	margin-top: 20px;
}

.a_media_title{
	width: 90px;
	float: left;
	padding: 5px;
	font-size: 18px;
}

.ndetails a { text-decoration: none; }
.m_videos { width:100% !important; margin:auto; height:375px; padding:5px; background-color:#492214; }
.m_videosleft { width:45%; text-align:left !important; padding-top:20px; color:#fff; padding-left: 20px; }
.m_videosright { width:50%; float:right; padding-top:25px; }
.choosedivider { margin:10px 0px; width:100% !important; padding-left:20px; text-align:left !important; font-weight:bold; font-size:18px; }
.videoimg { cursor:pointer; }

.twshead { background: #C00000; color: white; }
.twsgrid1 {}
.twsgrid2 { background: #F2DDDC; }
.twsnexstatus { color:#C00000;}
.div_tnc .form-error{ width:100% !important;}
.borderright { border-right:1px solid #f47807;}
.borderleft { border-left:1px solid #f47807;}
.paddingleft10 { padding-left:25px;}
.paddingright10 { padding-right:25px;}
#etm_message { width:100%; height:150px; }

#___plus_0{ width:57px !important;}
.gP, .eja, .unchecked{ display:none !important;}

.fb-share-button span { height:27px !important;}

marquee img { max-width:100px; max-height: 30px; padding-left: 10px;}

.rating_bar {
    /*this class creats 5 stars bar with empty stars */
    /*each star is 16 px, it means 5 stars will make 80px together */
    width: 80px;
    /*height of empty star*/
    height: 16px;
    /*background image with stars */
    background: url(../images/stars.png);
    /*which will be repeated horizontally */
    background-repeat: repeat-x;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
    /* align inner div to the left */
    text-align: left;
}
.rating {
    /* height of full star is the same, we won't specify width here */
    height: 16px;
    /* background image with stars */
    background: url(../images/stars.png);
    /* now we will position background image to use 16px from top, 
    //which means use full stars */
    background-position: 0 -16px;
    /* and repeat them horizontally */
    background-repeat: repeat-x;
}

.alogos img { margin:0px 1px;}

.selectedsorting { color:#000000; cursor: pointer; }
.sortinglink { color:blue; cursor: pointer; }
#div_showing { float: right; text-align: right; }
#div_sortby { float: right; text-align: right; }
.hide { display:none; }
.sortinfo { background-color: #ccc; padding:7px; width: 100%; overflow: auto; margin: 7px 0px;}

.asoc-header { text-align:center; border-bottom:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc; margin-top:20px;}
.asoc-body { text-align:center; border-bottom:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc;}
.ascolleft { border-right:1px solid #ccc;}

.sortme { cursor:pointer; }

.rating_bar {
    /*this class creats 5 stars bar with empty stars */
    /*each star is 16 px, it means 5 stars will make 80px together */
    width: 80px;
    /*height of empty star*/
    height: 16px;
    /*background image with stars */
    background: url(../images/stars.png);
    /*which will be repeated horizontally */
    background-repeat: repeat-x;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
    /* align inner div to the left */
    text-align: left;
}
.rating {
    /* height of full star is the same, we won't specify width here */
    height: 16px;
    /* background image with stars */
    background: url(../images/stars.png);
    /* now we will position background image to use 16px from top, 
    //which means use full stars */
    background-position: 0 -16px;
    /* and repeat them horizontally */
    background-repeat: repeat-x;
}

.more{
	text-align: right;
}

.btn-orange_more	{background:#f47807; color:#fff; border:1px solid #c35f06; padding:1px 7px 1px 10px; margin-top:0px; margin-left:10px; font-size:15px; font-weight: normal !important;}

.btn-orange_more:hover {
  background: #4b1e0c;
  border-color: #3a1506;
  color:#fff;
}

.morecontent span {
    display: none;
}
.morelink {
    font-size:20px;
    color:#B75915;
}

#pages_list { font-size: 15px; float: right; border-bottom:1px solid gray; border-top:1px solid gray; margin-bottom: 10px; }
#pages_list span { font-weight: bolder; }
.piactive { font-weight: bolder; color: red; }
#seconds_taken, #current_page, #total_pages { font-weight: bolder; }

/* Progress bar CSS starts here */
	.progress {
		width: 100%;
		height: 30px;
	}
	.progress-wrap {
		background: #f80;
		margin: 20px 0;
		overflow: hidden;
		position: relative;
	}
	.progress-bar {
		background: #ddd;
		left: 0;
		position: absolute;
		top: 0;
	}
	.subtabs { padding-left: 40px; display:none; }
	.pgquestions label { width:100%; font-size:150%; padding-top:10px; border-top:1px solid gray;}
	.pgquestions .answers { padding-left:30px; font-size:120%; padding-top:5px; padding-bottom:20px;}
	
	.tabpanel {width:88%; border-right:1px solid orange; padding-right:20px !important;}
	.tabright { float:right; margin-top:-20px; font-weight:bold;}
/* Progress bar CSS ends here */

.optionsdiv { font-weight: bold; font-size: 17px; }
.nspreferences { background-color:#dddddd; }
.nspreferencessub { background-color:#dddddd; }
.trackwillstatus { width:66%; margin:0px auto; }
#txt_ss, #sname {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #646464;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbd5dd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15	
}

.PageHTitle{font-size:22px !important; color:#542918 !important; letter-spacing:-1px; font-weight:bold  !important; width:100%; clear:both; float:left; margin-bottom:20px !important;}

@media screen and (max-width:480px){
	.m_videos{height: auto;}
	.video-pg div { width:100%;}
	.m_videosleft { width:100%; text-align:left !important; padding-top:20px; color:#fff; padding-left: 10px; }
	.m_videosright { width:100%;}
	.video-pg div p{margin-left: 25px;}
	.btnlink {
		font-weight: 600;
		background: url(../images/btnbg2.jpg) no-repeat top right;
		padding: 5px 28px 5px 10px;
		border-bottom: 0px solid #f47807;
		font-size: 16px;
		color: #fff;
	}
	.txt-light-grey {
		color: #4b0f05;
		font-size: 16px;
		padding:0px;
	}
	.steps-row .container{margin-top:10px;}
}

.textjustify { text-align:justify !important; }
/* Style Sheet for style_extra ends here */


@media screen and (max-width:980px){
	.navbar-collapse.collapse {    display: none !important;}
.navbar .collapse.in{background:#f47807; position:absolute; top:45px; left: 0px;width: 102%; z-index:101;  display: block !important;}
.navbar-collapse{background:#f47807; position:absolute; top:45px; left: 0px;width: 102%; z-index:101;  display: block !important;}
.navbar-nav li a	{font-size:12px; letter-spacing:0px; border:0px; border-bottom:1px solid #e8e1d0; color:#ffffff !important;}
.top_nav			{padding-top:10px; text-align:left; position:absolute; right:2px; top:20px; border-top:0px solid #e8e1d0;}
.navbar-toggle{display:block; margin-top: 29px;}
.navbar-nav > li {    float: none;}
.navbar-nav {float: none; }
.navbar-header {    float: none; width:100%;}
.navbar-collapse{padding:0px;}
header .col-lg-7, header .col-xs-12{padding-left: 0px; padding-right: 0px;}
.container {    width: 100%; position:relative;}
.top_nav .btn-orange{position:absolute; right:70px; top:10px; margin-top: 20px;} 
.headernavwrp{padding-bottom:10px;}
.steps{margin:15px 0px; }
/*.collapse.in, .navbar-collapse{top: 72px;}*/
	.navbar .collapse.in{top: 45px;}

.steps-row .container {
    background: none;
}
.trackwillstatus { width:96%; }

.carousel-indicators { bottom: -9px; }
.borderright { border-right: none;}


}

@media (min-width: 768px){
	.navbar{width:100%;  display:block;}
	
}
@media screen and (max-width:800px){
	
	.womenCont{margin:0px 10px; margin-top:-50px; }
	.help{width:100px; display:none;color: #ed8336;font-size: 18px;font-weight: 600;text-align: right;letter-spacing: -1px;line-height: 26px;padding-top: 60px;padding-right: 0px !important;}
	.CallUs{text-align: left;letter-spacing: -1px;line-height: 22px;padding-top: 70px;}
	.CallUs strong {background: url(../images/icon-phone.png) no-repeat left center;  padding-left: 20px; font-size: 19px; color: #c78e77;}
	.CallUs span {color: #CCC;font-size: 19px; font-weight: 600;  letter-spacing: 0px;}
	.EmailD{ float:right; margin-top:20px;}

}

@media screen and (max-width:767px){
	
	.headersearch{width:100%;text-align: right;}
	
	.navbar-toggle{display:block; margin-top: 15px;}
	.top_nav .btn-orange{position:absolute; right:70px; top:10px; margin-top: 7px;}
	
	/*.collapse.in, .navbar-collapse{top: 72px;}*/
	.navbar .collapse.in{top: 45px;}
	
	.logoProj{}
	.nsdl{width:100px;}
	.warmond{width:50px;}
	.mlogo{width:120px; padding:6px 0px 0px;}
	.mlogo img{width:100%;}
	.dn{display:none;}
	
	.contact-row {    margin-top: 0px;}
	.womenCont{margin:0px 10px; margin-top:20px; width:120px; }
	.womenCont img{width:100%;}
	.help{width:100px; display:none;color: #ed8336;font-size: 18px;font-weight: 600;text-align: right;letter-spacing: -1px;line-height: 26px;padding-top: 60px;padding-right: 0px !important;}
	.CallUs{text-align: left;letter-spacing: -1px;line-height: 22px;padding-top: 70px;}
	.CallUs strong {background: url(../images/icon-phone.png) no-repeat left center;  padding-left: 20px; font-size: 19px; color: #c78e77;}
	.CallUs span {color: #CCC;font-size: 19px; font-weight: 600;  letter-spacing: 0px;}
	.EmailD{ float:right; margin-top:20px;}
}
@media screen and (max-width:640px){
	.womenCont{margin:0px 10px; margin-top:0px;display:none; }
}
@media screen and (max-width:580px){
	.headersearch{width:100%;text-align: right;}
	
	.navbar-toggle{display:block; margin-top: 15px;}
	.top_nav .btn-orange{position:absolute; right:70px; top:10px; margin-top: 7px;}
	
	/*.collapse.in, .navbar-collapse{top: 72px;}*/
	.navbar .collapse.in{top: 45px;}
	
	.logoProj{}
	.nsdl{width:100px;}
	.warmond{width:50px;}
	.mlogo{width:120px; padding:6px 0px 0px;}
	.mlogo img{width:100%;}
	.dn{display:none;}
	
	.contact-row {    margin-top: 0px;}
	.womenCont{margin:0px 10px; margin-top:0px;display:none; }
	.help{width:80px; display:none;color: #ed8336;font-size: 18px;font-weight: 600;text-align: right;letter-spacing: -1px;line-height: 26px;padding-top: 60px;padding-right: 0px !important;}
	.CallUs{text-align: left; display:none; letter-spacing: -1px;line-height: 22px;padding-top: 70px;}
	.CallUs strong {background: url(../images/icon-phone.png) no-repeat left center;  padding-left: 20px; font-size: 19px; color: #c78e77;}
	.CallUs span {color: #CCC;font-size: 19px; font-weight: 600;  letter-spacing: 0px;}
	.EmailD{ float:right; margin-top:50px;}
	
}
@media screen and (max-width:480px){
	.intro-row label			{background:url(../images/pattern.gif) repeat; display:inline; padding:0px 0px; cursor:auto; font-weight:300; line-height: 65px;}
	.mheader{display:none;}
	.headersearch{width:100%;text-align: right;}
	.headernavwrp {padding-bottom: 52px;}
	
	
	.top_nav{top: 122px;padding-top: 0px; margin-top:-8px;}
	.navbar-toggle{display:block; margin-top: 9px;}
	.top_nav .btn-orange{position:absolute; left:72px; top:10px; margin-top: 0px;text-align: center;}
	
	.top_nav .btn-login{background:#f47807; display:block;  color:#fff; border:1px solid #c35f06; padding:4px 8px; margin-left:10px; margin-bottom:20px; float:left; clear:both; font-size:15px; position:absolute; left:6px; top:10px;}
	.top_nav .btn-login:hover{background:#4b1e0c; border-color:#3a1506}
	
	/*.collapse.in, .navbar-collapse{top: 72px;}*/
	.navbar .collapse.in{top: 45px;}
	
	.logoProj{}
	.nsdl{width:130px;}
	.warmond{width:70px;}
	.mlogo{width:140px; padding:6px 0px 0px;}
	.mlogo img{width:100%;}
	.dn{display:none;}
	
	.contact-row {    margin-top: 0px;}
	.womenCont{margin:0px 10px; margin-top:0px;display:none; }
	.help{width:80px; display:none;color: #ed8336;font-size: 18px;font-weight: 600;text-align: right;letter-spacing: -1px;line-height: 26px;padding-top: 60px;padding-right: 0px !important;}
	.CallUs{text-align: left; display:none; letter-spacing: -1px;line-height: 22px;padding-top: 70px;}
	.CallUs strong {background: url(../images/icon-phone.png) no-repeat left center;  padding-left: 20px; font-size: 19px; color: #c78e77;}
	.CallUs span {color: #CCC;font-size: 19px; font-weight: 600;  letter-spacing: 0px;}
	.EmailD{ float:right; margin-top:50px;}

	#frmregister .col-xs-2, #frmcontact .col-xs-2, #frmForgot .col-xs-2 { padding-right:0px; }
	#frmregister .col-xs-2 > input, #frmcontact .col-xs-2 > input, #frmcontact .col-xs-3 > input, #frmForgot .col-xs-2 > input { padding:6px 6px; }
	.pg-title h3 {font-size: 24px;}
	
}
@media screen and (max-width:450px){
	body {
	    font: 400 13px/20px Open Sans, Arial, Helvetica, sans-serif;
	    color: #444;
	    text-align: justify;
	}
	#resulttable .col-xs-10{padding: 0px}
	.asoc-body .ascolleft{padding: 5px 4px 0px;height:45px;}
	.asoc-header h2 {    font-size: 11px;}
	.contact-info .get_char {  font-size: 11px;}
	h4.faq_panel_title { text-align: left;    font-size: 15px;}
	.faq_cat {text-align:left;}
	.faq_cat span{float: left;height: 40px;}
}
@media screen and (max-width:375px){
body {
	    font: 400 12px/20px Open Sans, Arial, Helvetica, sans-serif;
	    color: #444;
	    text-align: justify;
	}

	.navbar-toggle{display:block; margin-top: 8px;}
	.top_nav .btn-orange{position:absolute; left:73px; top:10px; margin-top: 0px;}
	/*.collapse.in, .navbar-collapse{top: 72px;}*/
	.navbar .collapse.in{top: 45px;}
	
	.mlogo{margin-top:2px;}
	
	.help{width:100px; display:none;}
	.QuickLinks, .connectUs{padding:0px;}
	.headernavwrp {padding-bottom: 52px;border-top:0px solid #e8e1d0; margin-top:0px;}
	.top_nav{top: 100px;padding-top: 0px; margin-top:-8px;}
	.shareBtn{padding:0px;}
	
	.nsdl{width:100px;}
	.warmond{width:50px;}
	.mlogo{width:120px; padding:6px 0px 0px;}
	.btn-submit{padding: 10px 15px;}
	.pg-title h3 {font-size: 22px;}
	.btn-dashboard{padding: 8px 50px 8px 10px;}
	.abt-hdg { font-size: 14px; }
	.contactwrite { text-align: left;}

	.asoc-header .sortme {position: absolute; right: 0px;  top: 5px;}

}
@media screen and (max-width:320px){
	body {
	    font: 400 11px/20px Open Sans, Arial, Helvetica, sans-serif;
	    color: #444;
	    text-align: justify;
	}

	.EmailD{float: left;margin-top: 50px;margin-left: -32px;}
	.btn-submit{padding: 10px 10px;}
	.btn-dashboard span{font-size: 15px;}
	.xrow a{    font-size: 11px; }

}
