@charset "utf-8";
/* CSS Document */

.sipamount {width:70px;text-align:right;}
.errorAmount {color:#cc0000;font-size:9px;}
#tbl_posts_foot td{font-weight:bold;}

/* Risk Profile page */
#rpForm .radio input[type=radio] {position:initial; margin-left: 15px;}
#rpForm label {color: #484848;}