@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

body {margin:0px;padding:0px;box-sizing:border-box;line-height:1.5;}

.my-nav {background:transparent;border-color:transparent;-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);}
.my-nav .navbar-nav li a {font-family: 'Montserrat', sans-serif;color:#595959;font-size:13px;padding-top:18px;text-transform:uppercase;    text-decoration: none;
    display: inline-block;border-bottom: 3px solid transparent;    transition: 0.5s ease;white-space: nowrap;height: 43px;}
.my-nav .navbar-nav li a:hover {color:#595959;border-bottom: 2px solid #ec008c;}
.my-nav .navbar-nav > .active > a {background:transparent;color:#595959;border-bottom: 2px solid #ff0000;}
.my-nav .navbar-nav > .active > a:hover {background:transparent;color:#595959;}
.my-nav .navbar-nav > .active > a:focus {background:transparent;color:#595959;}
.my-nav {border-radius:0px !important;margin-bottom:0px;min-height:60px;}
.my-nav .navbar-brand {border-right:1px solid #555555;margin-top: 14px;height: 28px;padding: 0px 15px;}
.my-nav .navbar-nav li a.nav-color {color:#ec008c;}
.navbar-toggle {background:#000;border:1px solid #000 !important;border-radius:0px;margin-right: 26px;}
.navbar-collapse {border:none;}



.banner {background-image:url(../img/banner.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;height:65vh;width:100%;}
.banner h1 {font-family: 'Montserrat', sans-serif;color:#282828;font-size:44px;font-weight:800;line-height:28px;margin-top:40%;}
.banner .span-start {font-size:20px;}  
.banner .span-end {font-size:18px;font-weight:300;} 
.banner .up-div-one {background:#1295d8;padding:8px 10px;width:75%;margin-top:15px;border-radius:14px;}
.banner .up-div-one h3 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:20px;margin:0px;text-align:center;font-weight:600;}
.banner .up-div-one h4 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:16px;margin-top:3px;margin-bottom:3px;text-align:center;font-weight:300;}
.banner .up-div-one p {font-family: 'Montserrat', sans-serif;color:#fff;font-size:13px;margin:0px;text-align:center;font-weight:300;}
.banner .up-div-one .btn-plan {font-family: 'Montserrat', sans-serif;color:#fff;font-size:14px;background:#040b0f;border-color:#040b0f;border-radius:15px;
font-weight:600;margin-top:5px;}
.banner .up-div-two {background:#ff8900;padding:8px 10px;width:75%;border-radius:14px;}
.banner .up-div-two h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:20px;margin:0px;text-align:center;font-weight:600;}
.banner .up-div-two h4 {font-family: 'Montserrat', sans-serif;color:#000;font-size:16px;margin-top:3px;margin-bottom:3px;text-align:center;font-weight:300;}
.banner .up-div-two p {font-family: 'Montserrat', sans-serif;color:#000;font-size:13px;margin:0px;text-align:center;font-weight:300;}
.banner .up-div-two .btn-plan {font-family: 'Montserrat', sans-serif;color:#fff;font-size:14px;background:#040b0f;border-color:#040b0f;border-radius:15px;
font-weight:600;margin-top:5px;}
.banner .up-div-three {background:#d841d3;padding:8px 10px;width:75%;border-radius:14px;}
.banner .up-div-three h3 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:20px;margin:0px;text-align:center;font-weight:600;}
.banner .up-div-three h4 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:16px;margin-top:3px;margin-bottom:3px;text-align:center;font-weight:300;}
.banner .up-div-three p {font-family: 'Montserrat', sans-serif;color:#fff;font-size:13px;margin:0px;text-align:center;font-weight:300;}
.banner .up-div-three .btn-plan {font-family: 'Montserrat', sans-serif;color:#fff;font-size:14px;background:#040b0f;border-color:#040b0f;border-radius:15px;
font-weight:600;margin-top:5px;}


/* Support */
.page-wrapper {}
.page-wrapper .support {padding:25px 0px;background:#01080d;}
.page-wrapper .support .sec-h3 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:34px;font-weight:800;margin-bottom:0px;}
.page-wrapper .support .sec-p {font-family: 'Montserrat', sans-serif;color:#fff;font-size:22px;font-weight:300;margin-bottom:0px;}
.page-wrapper .support .icon-bg {background:#cddde8;border-radius:10px;padding:10px 15px;height:100px;	}
.page-wrapper .support .btn-post {background:#cd2568;border-radius:10px;color:#fff;font-family: 'Montserrat', sans-serif;font-size:12px;-webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);}

/* Save Tax */
.page-wrapper .save-tax {padding:20px 0px;background:#1134d0;position: relative;}
.page-wrapper .save-tax:after, .page-wrapper .save-tax:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .save-tax:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #1134d0;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .save-tax:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #1134d0;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .save-tax .title-h2 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:30px;font-weight:300;text-align:center;}
.page-wrapper .save-tax .title-h2 span {font-weight:800;}
.page-wrapper .save-tax .title-p {font-family: 'Montserrat', sans-serif;color:#fff;font-size:14px;text-align:center;padding:0px 50px;margin-top:15px;}

.page-wrapper .save-tax .timeline-sec {width:80%;margin:20px auto auto auto;}
.page-wrapper .save-tax .timeline-sec h3 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:22px;font-weight:600;}
.page-wrapper .save-tax .timeline-sec .time-url {font-family: 'Montserrat', sans-serif;color:#fff;}
.page-wrapper .save-tax .timeline-sec .time-url li {padding-left:26px;margin-bottom:5px;font-size:13px;}
.page-wrapper .save-tax .timeline-sec p {font-family: 'Montserrat', sans-serif;font-size:15px;font-weight:600;padding-left:65px;margin-bottom:30px;}
.page-wrapper .save-tax .timeline-sec p a {color:#efa427;text-decoration:none;}
.page-wrapper .save-tax .timeline-sec .brdr-right {border-right:2px dashed #ddd;}
.page-wrapper .save-tax .timeline-sec .less-left {padding-left:40px;}


/* Calculator */
.page-wrapper .calculator {padding:25px 0px;background:#cccccc;position: relative;}
.page-wrapper .calculator:after, .page-wrapper .calculator:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .calculator:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #cccccc;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .calculator:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #cccccc;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .calculator .title-h2 {font-family: 'Montserrat', sans-serif;color:#556080;font-size:30px;font-weight:700;text-align:center;}
.page-wrapper .calculator .below-sec {margin-top:40px;}
.page-wrapper .calculator .below-sec .btn-calcu {font-family: 'Montserrat', sans-serif;font-size:15px;border-radius:15px;margin-bottom:30px;width:210px;color:#556080;-webkit-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.35);-moz-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.35);
box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.35);}


/* Financial Info */
.page-wrapper .financial-info {padding:25px 0px;background:#ffffff;position: relative;}
.page-wrapper .financial-info:after, .page-wrapper .financial-info:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .financial-info:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .financial-info:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .financial-info .title-h2 {font-family: 'Montserrat', sans-serif;color:#556080;font-size:30px;font-weight:300;text-align:center;}
.page-wrapper .financial-info .title-h2 span {font-weight:700;border-bottom:3px solid #ec008c;}
.page-wrapper .financial-info .title-p {font-family: 'Montserrat', sans-serif;color: #556080;font-size: 14px;text-align: center;padding: 0px 80px;margin-top: 15px;}
.page-wrapper .financial-info .btn-register {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 13px;background:#ff4141;border-color:#ff4141;font-weight:600;
border-radius:15px;margin-top:20px;padding:8px 18px;margin-bottom:20px;}




/* Request a Call */
.bg-pink-call{
	background-color:#d0114d;
	padding:80px 40px;
	position:relative;
}
.page-wrapper .bg-pink-call:after, .page-wrapper .bg-pink-call:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .bg-pink-call:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #d0114d;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .bg-pink-call:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #d0114d;
	border-width: 22px;
	margin-left: -23px;
}

.bg-pink-call .request-text{
	margin:0 auto;
	text-align:center;
	text-shadow: 2px 2px 52px rgba(0, 0, 0, 0.6);
	font-family: 'Montserrat', sans-serif;
}
.bg-pink-call .request-text .request-one{
	font-size:30px;
	text-transform:uppercase;
	color:#fff;
	line-height: 50px;
	padding: 30px 0;
}
.bg-pink-call .request-text .request-one span{
	font-size:90px;
	color:#fff;
	text-transform:uppercase;
	font-weight:800;
	margin-left: 100px;
}
.bg-pink-call .contact-form{
	margin:0 auto;
	text-align:center;
}
.bg-pink-call .contact-form .form-box{
	background: rgba(252,28,87,1);
	background: -moz-linear-gradient(left, rgba(252,28,87,1) 0%, rgba(252,44,96,1) 23%, rgba(254,88,126,1) 57%, rgba(252,28,87,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,28,87,1)), color-stop(23%, rgba(252,44,96,1)), color-stop(57%, rgba(254,88,126,1)), color-stop(100%, rgba(252,28,87,1)));
	background: -webkit-linear-gradient(left, rgba(252,28,87,1) 0%, rgba(252,44,96,1) 23%, rgba(254,88,126,1) 57%, rgba(252,28,87,1) 100%);
	background: -o-linear-gradient(left, rgba(252,28,87,1) 0%, rgba(252,44,96,1) 23%, rgba(254,88,126,1) 57%, rgba(252,28,87,1) 100%);
	background: -ms-linear-gradient(left, rgba(252,28,87,1) 0%, rgba(252,44,96,1) 23%, rgba(254,88,126,1) 57%, rgba(252,28,87,1) 100%);
	background: linear-gradient(to right, rgba(252,28,87,1) 0%, rgba(252,44,96,1) 23%, rgba(254,88,126,1) 57%, rgba(252,28,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1c57', endColorstr='#fc1c57', GradientType=1 );
	padding:25px 80px;
	border-radius:12px;
	box-shadow: 0px 3px 51px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 3px 51px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 51px 1px rgba(0,0,0,0.5);
}
.bg-pink-call .contact-form .form-box .input-contact{
	margin:6px 0;
}
.bg-pink-call .contact-form .btn-submit{
	padding:6px 24px;
	background: rgba(242,188,52,1);
	background: -moz-linear-gradient(-45deg, rgba(242,188,52,1) 0%, rgba(255,168,54,1) 23%, rgba(255,151,87,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,188,52,1)), color-stop(23%, rgba(255,168,54,1)), color-stop(100%, rgba(255,151,87,1)));
	background: -webkit-linear-gradient(-45deg, rgba(242,188,52,1) 0%, rgba(255,168,54,1) 23%, rgba(255,151,87,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(242,188,52,1) 0%, rgba(255,168,54,1) 23%, rgba(255,151,87,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(242,188,52,1) 0%, rgba(255,168,54,1) 23%, rgba(255,151,87,1) 100%);
	background: linear-gradient(135deg, rgba(242,188,52,1) 0%, rgba(255,168,54,1) 23%, rgba(255,151,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bc34', endColorstr='#ff9757', GradientType=1 );
	color:#000;
	font-size:15px;
	font-weight:600;
	margin-top:20px;
	font-family: 'Montserrat', sans-serif;
}

/* News & Blog */
.page-wrapper .blog {padding:50px 0px;background:#fff;position:relative;}
.page-wrapper .blog:after, .page-wrapper .blog:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .blog:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .blog:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .blog .head-title-news{
	text-align:center;
	padding:0px 0 30px 0;
}
.page-wrapper .blog .head-title-news .new-title{
    color: #556080;
    font-size: 34px;
    font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
.head-title-news .new-title span{
	font-weight: 800;
}
.page-wrapper .blog .head-title-news .new-para{
	font-size: 16px;
    font-weight: 400;
	color:#5e667e;
	line-height:26px;
	padding:2px 10px;
	font-family: 'Montserrat', sans-serif;
}

.page-wrapper .blog .blog-sec {margin-top:20px;}
.page-wrapper .blog .blog-sec .box {padding:15px 15px;-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);border-radius:8px;max-height:480px;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;
cursor:pointer;}
.page-wrapper .blog .blog-sec .box:hover {transform:scale(1.1);}
.page-wrapper .blog .blog-sec .box p {font-family: 'Montserrat', sans-serif;color:#000;font-size:14px;font-weight:600;}
.page-wrapper .blog .blog-sec .box p a {font-family: 'Montserrat', sans-serif;color:#ff0000;font-size:14px;font-weight:600;text-decoration:none;}
.page-wrapper .blog .blog-sec .box .blog-ul {padding-left:18px;}
.page-wrapper .blog .blog-sec .box .blog-ul li {font-family: 'Montserrat', sans-serif;color:#454545;font-size:14px;font-weight:300;margin-bottom:5px;}



/* Price Table */
.page-wrapper .price {background: #e4ceff; /* Old browsers */
background: -moz-linear-gradient(left, #e4ceff 1%, #f5edff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #e4ceff 1%,#f5edff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #e4ceff 1%,#f5edff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ceff', endColorstr='#f5edff',GradientType=1 ); /* IE6-9 */;padding:40px 0px;position:relative;}
.page-wrapper .price:after, .page-wrapper .price:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .price:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #eee0ff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .price:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #eee0ff;
	border-width: 22px;
	margin-left: -23px;
}

.page-wrapper .price .title-h2 {font-family: 'Montserrat', sans-serif;color:#556080;font-size:30px;font-weight:300;text-align:center;margin:0px;text-transform:uppercase;}
.page-wrapper .price .title-h2 span {font-weight:800;}
.page-wrapper .price .title-p {font-family: 'Montserrat', sans-serif;color:#556080;font-size:14px;text-align:center;margin-top:10px;}
.page-wrapper .price .table-sec {margin-top:5px;}



/* Footer */
.footer {padding:50px 0px;background:#181818;position:relative;}
.footer:after, .footer:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.footer:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #181818;
	border-width: 16px;
	margin-left: -17px;
}
.footer:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #181818;
	border-width: 22px;
	margin-left: -23px;
}
.footer h4 {color:#cccccc;font-family: 'Montserrat', sans-serif;font-size:17px;font-weight:300;}
.footer .line {background:#45474b;width:60px;height:8px;}
.footer .brdr {border-left:1px solid #45474b;margin-top:25px;}
.footer .footer-div {padding-left:6px;}
.footer .footer-div h3 {color:#cccccc;font-family: 'Montserrat', sans-serif;font-weight:600;font-size:18px;margin-bottom:20px;margin-top:0px;}
.footer .footer-div .less {color:#cccccc;font-family: 'Montserrat', sans-serif;font-weight:600;font-size:18px;margin-top:0px;margin-bottom:0px;}
.footer .footer-div p {color:#cccccc;font-family: 'Montserrat', sans-serif;font-weight:400;font-size:13px;margin:0px;} 
.footer .footer-div .footer-ul {padding-left:0px;}
.footer .footer-div .footer-ul li {list-style:none;color:#cccccc;font-family: 'Montserrat', sans-serif;font-weight:300;font-size:13px;}
.footer .footer-div .footer-ul li.ftr-height {margin-bottom:40px;}
.footer .footer-div .social-media {margin-top:16px;padding-left:0px;}
.footer .footer-div .social-media li {list-style:none;float:left;margin-right:10px;}
.lower {background:#252525;padding:25px 0px;text-align:center;color:#45474b;font-family: 'Montserrat', sans-serif;font-size:13px;}
		


		
@media only screen and (max-device-width:480px){
.my-nav .navbar-brand {border-right: none;}	
.banner .up-div-one, .banner .up-div-two, .banner .up-div-three {display:none;}	
.banner h1 {font-size: 40px;line-height: 25px;margin-top: 26%;}	
	
.banner_will {height: 40vh;}	
.banner_will h1 {font-size: 20px;line-height: 35px;margin-top: 26%; font-size-adjust: auto;}	
	.page-wrapper .prepare-will .timeline-prepare h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .stamp-paper .timeline-stamp h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .property-claim .timeline-prepare h3 span {border-bottom: none; color:#ffff00;}
.page-wrapper .change-will .timeline-stamp h3 span {border-bottom: none; color:#ffff00;}
	.page-wrapper .gift-will .timeline-prepare h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .regis-will .timeline-stamp h3 span {border-bottom: none; color:#ffff00;}
	.page-wrapper .joint-pro .timeline-prepare h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .save-tax .title-p {padding: 0px 5px;}
.page-wrapper .save-tax .timeline-sec .time-url { padding-left:10px;margin-top:12px;}
.page-wrapper .save-tax .timeline-sec .time-url li {padding-left: 5px;}	
.page-wrapper .save-tax .timeline-sec p {padding-left:0px;}
.page-wrapper .save-tax .timeline-sec .less-left {padding-left: 0px;}
.page-wrapper .save-tax .timeline-sec h3 {margin-top:5px;}
.page-wrapper .save-tax .timeline-sec .brdr-right {border:none;}
.page-wrapper .save-tax .timeline-sec {width: 90%;}
.page-wrapper .financial-info .title-h2 span {border-bottom:none;}
.page-wrapper .financial-info .title-p {padding: 0px 5px;}
.bg-pink-call {padding: 50px 5px;}
.bg-pink-call .request-text .request-one span {font-size: 70px;margin-left: 10px;}
.bg-pink-call .contact-form .form-box {padding:20px 15px !important;;}
.footer .brdr {border-left: none;}
.page-wrapper .blog .blog-sec .box {margin-bottom:30px;}
.page-wrapper .blog .blog-sec .box img {width:220px;}
.page-wrapper .blog .blog-sec .box:hover {transform:none;}
	
.page-wrapper .testimonial-list .testimonial-image { float: none; width: auto; text-align: center; }
	.page-wrapper .testimonial-list .testimonial-text { float: none; width: auto; margin-top: 30px; text-align: center; }
	.page-wrapper .testimonial-list .nav-tabs { margin-top: 20px; text-align: center; }	

}
		
@media only screen and (min-device-width:481px) and (max-device-width:767px) {
.my-nav .navbar-brand {border-right: none;}	
.banner .up-div-one, .banner .up-div-two, .banner .up-div-three {display:none;}	
.banner h1 {font-size: 40px;line-height: 25px;margin-top: 26%;}	
.banner_will {height: 40vh;}	
.banner_will h1 {font-size: 20px;line-height: 35px;margin-top: 26%; font-size-adjust: auto;}	
.page-wrapper .prepare-will .timeline-prepare h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .stamp-paper .timeline-stamp h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .property-claim .timeline-prepare h3 span {border-bottom: none; color:#ffff00;}
	.page-wrapper .change-will .timeline-stamp h3 span {border-bottom: none; color:#ffff00;}
	.page-wrapper .gift-will .timeline-prepare h3 span {border-bottom: none; color:#ff0000;}
	.page-wrapper .regis-will .timeline-stamp h3 span {border-bottom: none; color:#ffff00;}
	.page-wrapper .joint-pro .timeline-prepare h3 span {border-bottom: none; color:#ff0000;}
.page-wrapper .save-tax .title-p {padding: 0px 5px;}
.page-wrapper .save-tax .timeline-sec .time-url { padding-left:10px;margin-top:12px;}
.page-wrapper .save-tax .timeline-sec .time-url li {padding-left: 5px;}	
.page-wrapper .save-tax .timeline-sec p {padding-left:0px;}
.page-wrapper .save-tax .timeline-sec .less-left {padding-left: 0px;}
.page-wrapper .save-tax .timeline-sec h3 {margin-top:5px;}
.page-wrapper .save-tax .timeline-sec .brdr-right {border:none;}
.page-wrapper .save-tax .timeline-sec {width: 90%;}
.page-wrapper .financial-info .title-h2 span {border-bottom:none;}
.page-wrapper .financial-info .title-p {padding: 0px 5px;}
.bg-pink-call {padding: 50px 5px;}
.bg-pink-call .request-text .request-one span {font-size: 80px;margin-left: 10px;}
.bg-pink-call .contact-form .form-box {padding:20px 15px !important;;}
.footer .brdr {border-left: none;}
.page-wrapper .blog .blog-sec .box {margin-bottom:30px;}
.page-wrapper .blog .blog-sec .box img {width:250px;}
.page-wrapper .blog .blog-sec .box:hover {transform:none;}
.page-wrapper .testimonial-list .testimonial-image { width: 25%; }
	.page-wrapper .testimonial-list .testimonial-text { width: 75%; }	

}	


@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
.my-nav .navbar-brand {border-right: none;}	
.banner {height: 60vh;}	
	.banner_will {height: 30vh;}	
	
.bg-pink-call .request-text .request-one span {font-size: 80px;margin-left: 10px;}	
.bg-pink-call {padding:40px 10px;}
.bg-pink-call .contact-form .form-box {padding:16px 25px;}
.page-wrapper .blog .blog-sec .box img {width:180px;}
		
.page-wrapper .testimonial-list .testimonial-image { width: 20%; }
	.page-wrapper .testimonial-list .testimonial-text { width: 80%; }		
}	
/* create will sublanding*/
.banner_will {background-image:url(../img/banner_will.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;height:62vh;width:100%;}
.banner_will h1 {font-family: 'Montserrat', sans-serif;color:#282828;font-size:45px;font-weight:800;line-height:35px;margin-top:22%;text-transform: uppercase;}
.banner_will .span-endline {font-family: 'Montserrat', sans-serif;color:#282828;font-size:20px;}  
.banner_will .span-end {font-size:38px;font-weight:300;} 
/* Prepare will*/
.page-wrapper .prepare-will {background:#cccccc; background-image:url(../img/prepare_will_bg.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .prepare-will .timeline-prepare {width:80%;margin:20px auto auto auto;}
.page-wrapper .prepare-will .timeline-prepare h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 25vh;}
.page-wrapper .prepare-will .timeline-prepare .prewill-text {font-family: 'Montserrat', sans-serif;color:#000;}
.page-wrapper .prepare-will .timeline-prepare .prewill-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .prepare-will .timeline-prepare p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .prepare-will .title-h3 span {font-weight:700;border-bottom:3px solid #ff0000;}

/* stamp paper*/
.page-wrapper .stamp-paper {background:#cccccc; background-image:url(../img/stamp_paper_bg.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .stamp-paper .timeline-stamp {width:80%;margin:20px auto auto auto;}
.page-wrapper .stamp-paper .timeline-stamp h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 25vh;text-align: right;}
.page-wrapper .stamp-paper .timeline-stamp .stamp-text {font-family: 'Montserrat', sans-serif;color:#000;text-align: right; margin-right: 6vw;}
.page-wrapper .stamp-paper .timeline-stamp .stamp-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .stamp-paper .timeline-stamp p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .stamp-paper .title-h3 span {font-weight:700;border-bottom:3px solid #ff0000;}
/* property claim*/
.page-wrapper .property-claim {background:#99cc99; background-image:url(../img/property_bg.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .property-claim .timeline-prepare {width:80%;margin:20px auto auto auto;}
.page-wrapper .property-claim .timeline-prepare h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 25vh;}
.page-wrapper .property-claim .timeline-prepare .prewill-text {font-family: 'Montserrat', sans-serif;color:#000;}
.page-wrapper .property-claim .timeline-prepare .prewill-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .property-claim .timeline-prepare p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .property-claim .title-h3 span {font-weight:700;border-bottom:3px solid #ffff00;}
/* change will*/
.page-wrapper .change-will {background:#66cccc; background-image:url(../img/change_will.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .change-will .timeline-stamp {width:80%;margin:20px auto auto auto;}
.page-wrapper .change-will .timeline-stamp h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 25vh;text-align: right;}
.page-wrapper .change-will .timeline-stamp .stamp-text {font-family: 'Montserrat', sans-serif;color:#000;text-align: right; margin-right: 6vw;}
.page-wrapper .change-will .timeline-stamp .stamp-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .change-will .timeline-stamp p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .change-will .title-h3 span {font-weight:700;border-bottom:3px solid #ffff00;}
/* gift will*/
.page-wrapper .gift-will {background:#cccccc; background-image:url(../img/gift_will.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .gift-will .timeline-prepare {width:80%;margin:20px auto auto auto;}
.page-wrapper .gift-will .timeline-prepare h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 20vh;}
.page-wrapper .gift-will .timeline-prepare .prewill-text {font-family: 'Montserrat', sans-serif;color:#000;}
.page-wrapper .gift-will .timeline-prepare .prewill-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .gift-will .timeline-prepare p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .gift-will .title-h3 span {font-weight:700;border-bottom:3px solid #ff0000;}
/* Registration*/
.page-wrapper .regis-will {background:#66cccc; background-image:url(../img/registration_bg.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .regis-will .timeline-stamp {width:80%;margin:20px auto auto auto;}
.page-wrapper .regis-will .timeline-stamp h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 15vh;text-align: right;}
.page-wrapper .regis-will .timeline-stamp .stamp-text {font-family: 'Montserrat', sans-serif;color:#000;text-align: right; margin-right: 6vw;}
.page-wrapper .regis-will .timeline-stamp .stamp-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .regis-will .timeline-stamp p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .regis-will .title-h3 span {font-weight:700;border-bottom:3px solid #ffff00;}
/* joint Property*/
.page-wrapper .joint-pro {background:#cccccc; background-image:url(../img/joint_bg.jpg); background-repeat:no-repeat;background-position:center center; height:auto; width:100%;}

.page-wrapper .joint-pro .timeline-prepare {width:80%;margin:20px auto auto auto;}
.page-wrapper .joint-pro .timeline-prepare h3 {font-family: 'Montserrat', sans-serif;color:#000;font-size:18px;font-weight:600; margin-top: 25vh;}
.page-wrapper .joint-pro .timeline-prepare .prewill-text {font-family: 'Montserrat', sans-serif;color:#000;}
.page-wrapper .joint-pro .timeline-prepare .prewill-text {margin-bottom:5px;font-size:12px;}
.page-wrapper .joint-pro .timeline-prepare p {font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:600;margin-bottom:30px; line-height: 40px;}
.page-wrapper .joint-pro .title-h3 span {font-weight:700;border-bottom:3px solid #ff0000;}

/* Create will page*/

.page-wrapper .easy-step {padding:50px 0px;background:#333333;position:relative;}
.page-wrapper .easy-step:after, .page-wrapper .easy-step:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .easy-step:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .easy-step:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .easy-step .head-title-news{
	text-align:center;
	padding:0px 0 30px 0;
}
.page-wrapper .easy-step .head-title-news .will-title{
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
.head-title-news .will-title span{
	font-weight: 900;color: #99ff33;
}
.page-wrapper .easy-step .head-title-news .new-para{
	font-size: 16px;
    font-weight: 400;
	color:#5e667e;
	line-height:26px;
	padding:2px 10px;
	font-family: 'Montserrat', sans-serif;
}

.page-wrapper .easy-step .step-sec {margin-top:20px;}
.page-wrapper .easy-step .step-sec .box {padding:5px 5px;max-height:480px;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;}
.page-wrapper .easy-step .step-sec .box:hover {transform:scale(1.1);}
.page-wrapper .easy-step .step-sec .box p {font-family: 'Montserrat', sans-serif;color:#99ff33;font-size:14px;font-weight:600;text-align: center;}
.page-wrapper .easy-step .step-sec .box .btn-step {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 12px;background:#666666;border-color:#ff4141;font-weight:100;
border-radius:25px;margin-top:10px;padding:5px 10px;margin-bottom:10px;}

.page-wrapper .process-step {padding: 50px 0px; background:#fff;position:relative;}
.page-wrapper .process-step .process-sec .box {padding:5px 5px;max-height:200px;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;}
.page-wrapper .process-step .process-sec .box:hover {transform:scale(1.1);}

.page-wrapper .process-but {padding: 50px 0px; background:#fff; margin-bottom: 20px;}
.page-wrapper .process-but .btn-calcu {font-family: 'Montserrat', sans-serif;font-size:15px;border-radius:6px;margin-bottom:30px;width:250px;color:#556080;-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);}


.banner_inner {background-image:url(../img/banner_will.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;height:62vh;width:100%;}
.banner_inner h1 {font-family: 'Montserrat', sans-serif;color:#282828;font-size:72px;font-weight:800;line-height:35px;margin-top:20%;text-transform: uppercase;}
.banner_inner .span-endline {font-family: 'Montserrat', sans-serif;color:#282828;font-size:25px;}  
.banner_inner .span-end {font-size:42px;font-weight:400;} 

.page-wrapper .filetax-way {padding:25px 0px;background:#003333;position: relative;}
.page-wrapper .filetax-way:after, .page-wrapper .filetax-way:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .filetax-way:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #003333;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .filetax-way:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #003333;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .filetax-way .title-h2 {font-family: 'Montserrat', sans-serif;color:#ffffff;font-size:30px;font-weight:300;text-align:center;}
.page-wrapper .filetax-way .title-h2 span {font-weight:700;color: #ff0000;}
.page-wrapper .filetax-way .title-p {font-family: 'Montserrat', sans-serif;color: #66cccc;font-size: 14px;text-align: center;padding: 0px 80px;margin-top: 15px;}
.page-wrapper .filetax-way .btn-upload {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 14px;background:#3399ff;border-color:#3399ff;font-weight:600;
border-radius:15px;margin-top:20px;padding:15px 90px;margin-bottom:20px;margin-left: 200px;}
.page-wrapper .filetax-way .btn-filing {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 14px;background:#ff6666;border-color:#ff6666;font-weight:600;
border-radius:15px;margin-top:20px;padding:15px 90px;margin-bottom:20px;margin-right: 200px;}


.page-wrapper .need-help {padding:25px 0px;background:#ffffff;position: relative;}
.page-wrapper .need-help:after, .page-wrapper .need-help:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .need-help:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .need-help:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .need-help .title-h2 {font-family: 'Montserrat', sans-serif;color:#006666;font-size:30px;font-weight:600;text-align:center;}
.page-wrapper .need-help .btn-upload {font-family: 'Montserrat', sans-serif;color: #000;font-size: 14px;background:#cccccc;border-color:#999999;font-weight:500;
border-radius:15px;margin-top:20px;margin-bottom:20px; width: 360px; height: 75px;}


.page-wrapper .need-assist {padding:50px 0px;background:#333333;position:relative;}
.page-wrapper .need-assist:after, .page-wrapper .need-assist:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .need-assist:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #333333;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .need-assist:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #333333;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .need-assist .head-title-news{
	text-align:center;
	padding:0px 0 30px 0;
}
.page-wrapper .need-assist .head-title-news .will-title{
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
.head-title-news .will-title span{
	font-weight: 900;color: #99ff33;
}
.page-wrapper .need-assist .head-title-news .new-para{
	font-size: 16px;
    font-weight: 400;
	color:#5e667e;
	line-height:26px;
	padding:2px 10px;
	font-family: 'Montserrat', sans-serif;
}

.page-wrapper .need-assist .step-sec {margin-top:20px;}
.page-wrapper .need-assist .step-sec .box {padding:5px 5px;max-height:480px;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;}
.page-wrapper .need-assist .step-sec .box:hover {transform:scale(1.1);}
.page-wrapper .need-assist .step-sec .box p {font-family: 'Montserrat', sans-serif;color:#ffffff;font-size:14px;font-weight:600;text-align: center;}
.page-wrapper .need-assist .step-sec .box .btn-step {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 12px;background:#cc3333;border-color:#ff4141;font-weight:300;
border-radius:10px;margin-top:10px;padding:5px 10px;margin-bottom:10px;}

/* 80c */
.page-wrapper {}
.page-wrapper .short-invest {padding:0px 0px;background:#ff6633;}
.page-wrapper .short-invest:after, .page-wrapper .short-invest:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .short-invest:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ff6633;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .short-invest:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ff6633;
	border-width: 22px;
	margin-left: -23px;}
.page-wrapper .short-invest .sec-h3 {font-family: 'Montserrat', sans-serif;color:#fff;font-size:30px;font-weight:700;margin-bottom:0px;margin-top: 15%;}
.page-wrapper .short-invest .sec-p {font-family: 'Montserrat', sans-serif;color:#fff;font-size:16px;font-weight:300;margin-bottom:0px;}
.page-wrapper .short-invest .icon-bg {border-radius:10px;height:230px; margin-right: 100px;}
.page-wrapper .short-invest .btn-post {background:#ffffff;border-radius:10px;color:#000;font-family: 'Montserrat', sans-serif;font-size:12px;-webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75); width: 200px;}

.page-wrapper .tax-step {padding:65px 0px;background:#cccccc;position: relative;}
.page-wrapper .tax-step:after, .page-wrapper .tax-step:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .tax-step:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #cccccc;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .tax-step:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #cccccc;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .tax-step .btn-upload {font-family: 'Montserrat', sans-serif;color: #000;font-size: 14px;background:#cccccc;border-color:#cccccc;font-weight:700;
border-radius:15px;margin-top:20px;margin-bottom:20px; width: 360px; height: 109px;background-image:url(../img/tax-btn-base.png);}

.page-wrapper .testimonial {padding:25px 0px;background:#ffffff;position: relative;}
.page-wrapper .testimonial:after, .page-wrapper .testimonial:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .testimonial:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .testimonial:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .testimonial .title-h2 {font-family: 'Montserrat', sans-serif;color:#006666;font-size:30px;font-weight:600;text-align:center;}



/***** Testimonials *****/

.testimonials-container { padding-bottom: 70px; background-color:#CCCCCC; border-color: #fff;}

.testimonial-list { margin-top: 30px; text-align: left; background-color:#CCCCCC; border-radius: 25px;border-color: #fff; padding: 15px;}

.testimonial-list .tab-pane { overflow: hidden; }

.testimonial-list .testimonial-image { float: left; width: 17%; margin: 10px 0 0 0; }
.testimonial-list .testimonial-image img {
	max-width: 120px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border-color: #fff; border-width: thick;
}

.testimonial-list .testimonial-text { float: left; width: 83%;font-family: 'Montserrat', sans-serif; }
.testimonial-list .testimonial-text p { opacity: 0.9; }
.testimonial-list .testimonial-text p span { font-family: 'Montserrat', sans-serif;color:#000;font-size:12px;font-weight:600; }
.testimonial-list .testimonial-text .red { font-family: 'Montserrat', sans-serif;color:#ff0000;font-size:12px;font-weight:600; }

.testimonial-list .nav-tabs { border: 0; text-align: center; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: none; border: 1px solid #000; border-color: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover {
	background: #fff; background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff; border-color: rgba(255, 0, 0, 0.8);
}
.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background: #ffa456; border: 0; }

.page-wrapper .easy-step .head-title-news .savetax-title{
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}


.head-title-news .savetax-title span{
	font-weight: 900;color: #0099ff;}

.page-wrapper .easy-step .savetax-sec {margin-top:20px;  }
.page-wrapper .easy-step .savetax-sec .box {padding:5px 5px;max-height:480px;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease; background-image: url(../img/single_window_base.png); background-repeat: no-repeat; border-top-right-radius: 8px; }
.page-wrapper .easy-step .savetax-sec .box:hover {transform:scale(1.1);}
.page-wrapper .easy-step .savetax-sec .box p {font-family: 'Montserrat', sans-serif;color:#ffffff;font-size:24px;font-weight:200;text-align: center;}
.page-wrapper .easy-step .savetax-sec .box p span{font-family: 'Montserrat', sans-serif;color:#ffffff;font-size:14px;font-weight:100;text-align: center; line-height: 5px;}
.page-wrapper .easy-step .savetax-sec .box .btn-step {font-family: 'Montserrat', sans-serif;color: #fff;font-size: 12px;background:#ff0000;border-color:#ff4141;font-weight:100;
border-radius:25px;margin-top:10px;padding:5px 10px;margin-bottom:10px;}


.page-wrapper .plan-goal {background:#999999;position: relative;}
.page-wrapper .plan-goal:after, .plan-goal .calculator:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .plan-goal:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #999999;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .plan-goal:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #999999;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .plan-goal .title-h2 {font-family: 'Montserrat', sans-serif;color:#ffffff;font-size:30px;font-weight:500;text-align:left;}
.page-wrapper .plan-goal .title-h2 span{color: #0099ff; font-weight: 800;}
.page-wrapper .plan-goal .goal-text {margin-top:40px;}
.page-wrapper .plan-goal .goal-text .plans{width: 370px; float: left; line-height: 40px;}
.page-wrapper .plan-goal .goal-text .plans ul{ list-style-type: none;}
.page-wrapper .plan-goal .goal-text .plans ul li{ width: 350px; height: 40px; list-style-type: none; background-color: #cccccc;text-align: center; line-height: 40px; display: block; margin: 10px;}


.page-wrapper .invest-goal {background:#ffffff;position: relative;}
.page-wrapper .invest-goal:after, .invest-goal .calculator:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .invest-goal:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .invest-goal:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ffffff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .invest-goal .title-h2 {font-family: 'Montserrat', sans-serif;color:#000000;font-size:30px;font-weight:500;text-align:right;}
.page-wrapper .invest-goal .title-h2 span{color: #0099ff; font-weight: 800;}
.page-wrapper .invest-goal .goal-text {margin-top:60px;}
.page-wrapper .invest-goal .goal-text .plans{width: 370px; float: left; line-height: 40px;}
.page-wrapper .invest-goal .goal-text .plans ul{ list-style-type: none;margin-top:20px;}
.page-wrapper .invest-goal .goal-text .plans ul li{ width: 350px; height: 40px; list-style-type: none; background-color: #cccccc;text-align: center; line-height: 40px; display: block; margin: 10px;}

.page-wrapper .payment-step {padding:50px 0px;background:#999999;position:relative;}
.page-wrapper .payment-step:after, .page-wrapper .payment-step:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .payment-step:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .payment-step:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fff;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .payment-step .head-title-news{
	text-align:left;
	padding:0px 0 30px 0;
}
.page-wrapper .payment-step .head-title-news .payment-title{
    color: #000000;
    font-size: 36px;
    font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}

.page-wrapper .payment-step .head-title-news p{
	font-size: 18px;
    font-weight: 400;
	color:#333333;
	line-height:26px;
	padding:2px 10px;
	font-family: 'Montserrat', sans-serif;
}

.page-wrapper .payment-step .payment-sec {margin-top:20px;}
.page-wrapper .payment-step .payment-sec .form-check-label {font-size: 16px;font-weight: 200;	color:#333333;	line-height:40px;	padding:2px 10px;	font-family: 'Montserrat', sans-serif; background-color: #cccccc; width: auto; border-radius: 5px;}
.page-wrapper .payment-step .payment-sec .form-check-label .small {font-size: 11px; color:#ff0000;	line-height:3px;font-family: 'Montserrat', sans-serif; background-color: #cccccc;}
.page-wrapper .payment-step .payment-sec .form-check-input {background-color: #ccc;
  border: 5px solid #000;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;  
  width: 20px; background-image: url(../img/chk_base.png);}
.page-wrapper .payment-step hr{border-color: #666;}
.page-wrapper .payment-step .payment-sec .fee{background-color: #cccccc; text-align: right; line-height: 40px; width: auto; font-size: 16px;font-weight: 200;color:#333333;	padding:2px 10px;	font-family: 'Montserrat', sans-serif;}
.page-wrapper .payment-step .payment-sec input[type=text]{background-color: #cccccc; text-align: right; line-height: 35px; width: auto; font-size: 16px;font-weight: 200;color:#333333;	padding:2px 10px;	font-family: 'Montserrat', sans-serif;}
.page-wrapper .payment-step .payment-sec .btn-submit  {font-family: 'Montserrat', sans-serif;font-size:18px;border-radius:5px;margin-bottom:30px;width:310px;background-color:#003366;color: #fff; height: 64px;}
.page-wrapper .payment-step .payment-sec .note {font-family: 'Montserrat', sans-serif;color:#000000;font-size:12px;font-weight:400;text-align: center;}

.page-wrapper .expert-assist {background:#cccccc;position: relative;}
.page-wrapper .expert-assist:after, .expert-assist .calculator:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-wrapper .expert-assist:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #cccccc;
	border-width: 16px;
	margin-left: -17px;
}
.page-wrapper .expert-assist:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #cccccc;
	border-width: 22px;
	margin-left: -23px;
}
.page-wrapper .expert-assist .title-h2 {font-family: 'Montserrat', sans-serif;color:#003366;font-size:32px;font-weight:200;text-align:left;padding-top: 60px;}

.page-wrapper .expert-assist .assist-text {margin-top:60px;}
.page-wrapper .expert-assist .assist-text .plans{width: 240px; float: left; line-height: 40px; display: block;text-align: center;align-content: center; background-color:#ffffff; height: 155px; margin: 25px 5px; border-radius: 5px;}
.page-wrapper .expert-assist .assist-text .plans .plan-topic{font-family: 'Montserrat', sans-serif;color:#000000;font-size:18px;font-weight:700;text-align:center;padding-top:33px; line-height: 2px;}
.page-wrapper .expert-assist .assist-text .plans .plan-text{font-family: 'Montserrat', sans-serif;color:#000000;font-size:14px;font-weight:200;text-align:center; line-height: 10px;}
